<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoutesCreateDlg" widgetVar="RoutesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.CreateRoutesTitle}">
            <h:form id="RoutesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{routesController.selected != null}">
                        <p:outputLabel value="#{messages.CreateRoutesLabel_idRoutes}" for="idRoutes" />
                        <p:inputText id="idRoutes" value="#{routesController.selected.idRoutes}" title="#{messages.CreateRoutesTitle_idRoutes}" disabled="true" requiredMessage="#{messages.CreateRoutesRequiredMessage_idRoutes}"/>
                        <p:outputLabel value="#{messages.CreateRoutesLabel_difficulty}" for="difficulty" />
                        <p:inputText id="difficulty" value="#{routesController.selected.difficulty}" title="#{messages.CreateRoutesTitle_difficulty}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_distance}" for="distance" />
                        <p:inputText id="distance" value="#{routesController.selected.distance}" title="#{messages.CreateRoutesTitle_distance}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_duration}" for="duration" />
                        <p:inputText id="duration" value="#{routesController.selected.duration}" title="#{messages.CreateRoutesTitle_duration}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_end}" for="end" />
                        <p:inputText id="end" value="#{routesController.selected.end}" title="#{messages.CreateRoutesTitle_end}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_equipment}" for="equipment" />
                        <p:inputTextarea rows="4" cols="30" id="equipment" value="#{routesController.selected.equipment}" title="#{messages.CreateRoutesTitle_equipment}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_idChanging}" for="idChanging" />
                        <p:inputText id="idChanging" value="#{routesController.selected.idChanging}" title="#{messages.CreateRoutesTitle_idChanging}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_isChange}" for="isChange" />
                        <p:selectBooleanCheckbox id="isChange" value="#{routesController.selected.isChange}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_isProposed}" for="isProposed" />
                        <p:selectBooleanCheckbox id="isProposed" value="#{routesController.selected.isProposed}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_name}" for="name" />
                        <p:inputText id="name" value="#{routesController.selected.name}" title="#{messages.CreateRoutesTitle_name}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_start}" for="start" />
                        <p:inputText id="start" value="#{routesController.selected.start}" title="#{messages.CreateRoutesTitle_start}" />
                        <p:outputLabel value="#{messages.CreateRoutesLabel_type}" for="type" />
                        <p:inputText id="type" value="#{routesController.selected.type}" title="#{messages.CreateRoutesTitle_type}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{routesController.create}" value="#{messages.Save}" update="display,:RoutesListForm:datalist,:growl" oncomplete="handleSubmit(args,'RoutesCreateDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="RoutesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
