<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoutesEditDlg" widgetVar="RoutesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditRoutesTitle}">
            <h:form id="RoutesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{routesController.selected != null}">
                        <p:outputLabel value="#{messages.EditRoutesLabel_idRoutes}" for="idRoutes" />
                        <p:inputText id="idRoutes" value="#{routesController.selected.idRoutes}" title="#{messages.EditRoutesTitle_idRoutes}"  disabled="true"  required="true" requiredMessage="#{messages.EditRoutesRequiredMessage_idRoutes}"/>
                        <p:outputLabel value="#{messages.EditRoutesLabel_difficulty}" for="difficulty" />
                        <p:inputText id="difficulty" value="#{routesController.selected.difficulty}" title="#{messages.EditRoutesTitle_difficulty}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_distance}" for="distance" />
                        <p:inputText id="distance" value="#{routesController.selected.distance}" title="#{messages.EditRoutesTitle_distance}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_duration}" for="duration" />
                        <p:inputText id="duration" value="#{routesController.selected.duration}" title="#{messages.EditRoutesTitle_duration}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_end}" for="end" />
                        <p:inputText id="end" value="#{routesController.selected.end}" title="#{messages.EditRoutesTitle_end}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_equipment}" for="equipment" />
                        <p:inputTextarea rows="4" cols="30" id="equipment" value="#{routesController.selected.equipment}" title="#{messages.EditRoutesTitle_equipment}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_idChanging}" for="idChanging" />
                        <p:inputText id="idChanging" value="#{routesController.selected.idChanging}" title="#{messages.EditRoutesTitle_idChanging}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_isChange}" for="isChange" />
                        <p:selectBooleanCheckbox id="isChange" value="#{routesController.selected.isChange}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_isProposed}" for="isProposed" />
                        <p:selectBooleanCheckbox id="isProposed" value="#{routesController.selected.isProposed}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_name}" for="name" />
                        <p:inputText id="name" value="#{routesController.selected.name}" title="#{messages.EditRoutesTitle_name}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_start}" for="start" />
                        <p:inputText id="start" value="#{routesController.selected.start}" title="#{messages.EditRoutesTitle_start}" />
                        <p:outputLabel value="#{messages.EditRoutesLabel_type}" for="type" />
                        <p:inputText id="type" value="#{routesController.selected.type}" title="#{messages.EditRoutesTitle_type}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{routesController.update}" value="#{messages.Save}" update="display,:RoutesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RoutesEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="RoutesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
