<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/template.xhtml">

        <ui:define name="imheader">
          
            <!--<h:outputStylesheet name="./css/jsfcrud.css" />-->
            <h:outputScript name="./css/jsfcrud.js"  target="head" />

        </ui:define>
        <ui:define name="content">
            <h:form id="RoutesListForm">
                <p:panel >
                    <p:dataTable id="datalist" value="#{routesController.items}" var="item"
                                 selectionMode="single" selection="#{routesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idRoutes}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_idRoutes}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRoutes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_difficulty}"/>
                            </f:facet>
                            <h:outputText value="#{item.difficulty}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_distance}"/>
                            </f:facet>
                            <h:outputText value="#{item.distance}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_duration}"/>
                            </f:facet>
                            <h:outputText value="#{item.duration}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_end}"/>
                            </f:facet>
                            <h:outputText value="#{item.end}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_equipment}"/>
                            </f:facet>
                            <h:outputText value="#{item.equipment}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_idChanging}"/>
                            </f:facet>
                            <h:outputText value="#{item.idChanging}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_isChange}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.isChange}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_isProposed}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.isProposed}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_start}"/>
                            </f:facet>
                            <h:outputText value="#{item.start}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListRoutesTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{messages.Create}" actionListener="#{routesController.prepareCreate}" update=":RoutesCreateForm" oncomplete="PF('RoutesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{messages.View}" update=":RoutesViewForm" oncomplete="PF('RoutesViewDialog').show()" disabled="#{empty routesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{messages.Edit}" update=":RoutesEditForm" oncomplete="PF('RoutesEditDialog').show()" disabled="#{empty routesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{messages.Delete}" actionListener="#{routesController.destroy}" update=":growl,datalist" disabled="#{empty routesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
