<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoutesViewDlg" widgetVar="RoutesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewRoutesTitle}">
            <h:form id="RoutesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{routesController.selected != null}">
                        <h:outputText value="#{messages.ViewRoutesLabel_idRoutes}"/>
                        <h:outputText value="#{routesController.selected.idRoutes}" title="#{messages.ViewRoutesTitle_idRoutes}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_difficulty}"/>
                        <h:outputText value="#{routesController.selected.difficulty}" title="#{messages.ViewRoutesTitle_difficulty}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_distance}"/>
                        <h:outputText value="#{routesController.selected.distance}" title="#{messages.ViewRoutesTitle_distance}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_duration}"/>
                        <h:outputText value="#{routesController.selected.duration}" title="#{messages.ViewRoutesTitle_duration}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_end}"/>
                        <h:outputText value="#{routesController.selected.end}" title="#{messages.ViewRoutesTitle_end}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_equipment}"/>
                        <h:outputText value="#{routesController.selected.equipment}" title="#{messages.ViewRoutesTitle_equipment}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_idChanging}"/>
                        <h:outputText value="#{routesController.selected.idChanging}" title="#{messages.ViewRoutesTitle_idChanging}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_isChange}"/>
                        <p:selectBooleanCheckbox value="#{routesController.selected.isChange}" disabled="true"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_isProposed}"/>
                        <p:selectBooleanCheckbox value="#{routesController.selected.isProposed}" disabled="true"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_name}"/>
                        <h:outputText value="#{routesController.selected.name}" title="#{messages.ViewRoutesTitle_name}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_start}"/>
                        <h:outputText value="#{routesController.selected.start}" title="#{messages.ViewRoutesTitle_start}"/>
                        <h:outputText value="#{messages.ViewRoutesLabel_type}"/>
                        <h:outputText value="#{routesController.selected.type}" title="#{messages.ViewRoutesTitle_type}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="RoutesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
