<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MultimediaEditDlg" widgetVar="MultimediaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditMultimediaTitle}">
            <h:form id="MultimediaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{multimediaController.selected != null}">
                        <p:outputLabel value="#{messages.EditMultimediaLabel_idMultimedia}" for="idMultimedia" />
                        <p:inputText id="idMultimedia" value="#{multimediaController.selected.idMultimedia}" title="#{messages.EditMultimediaTitle_idMultimedia}"  disabled="true" required="true" requiredMessage="#{messages.EditMultimediaRequiredMessage_idMultimedia}"/>
                        <p:outputLabel value="#{messages.EditMultimediaLabel_file}" for="file" />
                        <p:inputTextarea rows="4" cols="30" id="file" value="#{multimediaController.selected.file}" title="#{messages.EditMultimediaTitle_file}" />
                        <p:outputLabel value="#{messages.EditMultimediaLabel_heading}" for="heading" />
                        <p:inputText id="heading" value="#{multimediaController.selected.heading}" title="#{messages.EditMultimediaTitle_heading}" />
                        <p:outputLabel value="#{messages.EditMultimediaLabel_isVR}" for="isVR" />
                        <p:selectBooleanCheckbox id="isVR" value="#{multimediaController.selected.isVR}" />
                        <p:outputLabel value="#{messages.EditMultimediaLabel_latitude}" for="latitude" />
                        <p:inputText id="latitude" value="#{multimediaController.selected.latitude}" title="#{messages.EditMultimediaTitle_latitude}" />
                        <p:outputLabel value="#{messages.EditMultimediaLabel_longtitude}" for="longtitude" />
                        <p:inputText id="longtitude" value="#{multimediaController.selected.longitude}" title="#{messages.EditMultimediaTitle_longtitude}" />
                        <p:outputLabel value="#{messages.EditMultimediaLabel_time}" for="time" />
                        <p:calendar id="time" pattern="MM/dd/yyyy HH:mm:ss" value="#{multimediaController.selected.time}" title="#{messages.EditMultimediaTitle_time}"  showOn="button"/>
                        <p:outputLabel value="#{messages.EditMultimediaLabel_type}" for="type" />
                        <p:inputText id="type" value="#{multimediaController.selected.type}" title="#{messages.EditMultimediaTitle_type}" />
                        <p:outputLabel value="#{messages.EditMultimediaLabel_idPlace}" for="idPlace" />
                        <p:selectOneMenu id="idPlace" value="#{multimediaController.selected.idPlace}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{placesController.itemsAvailableSelectOne}"
                                           var="idPlaceItem"
                                           itemValue="#{idPlaceItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.EditMultimediaLabel_idRoute}" for="idRoute" />
                        <p:selectOneMenu id="idRoute" value="#{multimediaController.selected.idRoute}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{routesController.itemsAvailableSelectOne}"
                                           var="idRouteItem"
                                           itemValue="#{idRouteItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.EditMultimediaLabel_idUser}" for="idUser" />
                        <p:selectOneMenu id="idUser" value="#{multimediaController.selected.idUser}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{usersController.itemsAvailableSelectOne}"
                                           var="idUserItem"
                                           itemValue="#{idUserItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{multimediaController.update}" value="#{messages.Save}" update="display,:MultimediaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MultimediaEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="MultimediaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
