<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/template.xhtml">

        <ui:define name="imheader">
          
            <!--<h:outputStylesheet name="./css/jsfcrud.css" />-->
            <h:outputScript name="./css/jsfcrud.js"  target="head" />

        </ui:define>


        <ui:define name="content">
            <h:form id="MultimediaListForm">
                <p:panel >
                    <p:dataTable id="datalist" value="#{multimediaController.items}" var="item"
                                 selectionMode="single" selection="#{multimediaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idMultimedia}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_idMultimedia}"/>
                            </f:facet>
                            <h:outputText value="#{item.idMultimedia}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_file}"/>
                            </f:facet>
                            <h:outputText value="#{item.file}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_heading}"/>
                            </f:facet>
                            <h:outputText value="#{item.heading}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_isVR}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.isVR}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_latitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.latitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_longtitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.longitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_time}"/>
                            </f:facet>
                            <h:outputText value="#{item.time}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_idPlace}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPlace}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_idRoute}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRoute}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListMultimediaTitle_idUser}"/>
                            </f:facet>
                            <h:outputText value="#{item.idUser}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{messages.Create}" actionListener="#{multimediaController.prepareCreate}" update=":MultimediaCreateForm" oncomplete="PF('MultimediaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{messages.View}" update=":MultimediaViewForm" oncomplete="PF('MultimediaViewDialog').show()" disabled="#{empty multimediaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{messages.Edit}" update=":MultimediaEditForm" oncomplete="PF('MultimediaEditDialog').show()" disabled="#{empty multimediaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{messages.Delete}" actionListener="#{multimediaController.destroy}" update=":growl,datalist" disabled="#{empty multimediaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
