<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MultimediaViewDlg" widgetVar="MultimediaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewMultimediaTitle}">
            <h:form id="MultimediaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{multimediaController.selected != null}">
                        <h:outputText value="#{messages.ViewMultimediaLabel_idMultimedia}"/>
                        <h:outputText value="#{multimediaController.selected.idMultimedia}" title="#{messages.ViewMultimediaTitle_idMultimedia}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_file}"/>
                        <h:outputText value="#{multimediaController.selected.file}" title="#{messages.ViewMultimediaTitle_file}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_heading}"/>
                        <h:outputText value="#{multimediaController.selected.heading}" title="#{messages.ViewMultimediaTitle_heading}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_isVR}"/>
                        <p:selectBooleanCheckbox value="#{multimediaController.selected.isVR}" disabled="true"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_latitude}"/>
                        <h:outputText value="#{multimediaController.selected.latitude}" title="#{messages.ViewMultimediaTitle_latitude}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_longtitude}"/>
                        <h:outputText value="#{multimediaController.selected.longitude}" title="#{messages.ViewMultimediaTitle_longtitude}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_time}"/>
                        <h:outputText value="#{multimediaController.selected.time}" title="#{messages.ViewMultimediaTitle_time}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{messages.ViewMultimediaLabel_type}"/>
                        <h:outputText value="#{multimediaController.selected.type}" title="#{messages.ViewMultimediaTitle_type}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_idPlace}"/>
                        <h:outputText value="#{multimediaController.selected.idPlace}" title="#{messages.ViewMultimediaTitle_idPlace}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_idRoute}"/>
                        <h:outputText value="#{multimediaController.selected.idRoute}" title="#{messages.ViewMultimediaTitle_idRoute}"/>
                        <h:outputText value="#{messages.ViewMultimediaLabel_idUser}"/>
                        <h:outputText value="#{multimediaController.selected.idUser}" title="#{messages.ViewMultimediaTitle_idUser}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="MultimediaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
