<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
/*******************************************************
* WanderApp
* erstellt am 10.04.2015
* Routepoint hinzufuegen 
* Verantwortlich: Claas Schlonsok
* Version 0.5
* editiert: Andre Hantke
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">

    <!--<f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>-->

    <h:head>

        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      


    </h:head>    
    <h:body>  
        <ui:composition template="/resources/template.xhtml">

            <ui:define name="content">   

                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"/>


                <h2><h:outputText value="#{messages.menu_route_erstellen}"/></h2>





                <h:form id="route_hinzu_wizard">
                    <p:wizard backLabel="#{messages.wizard_back}" nextLabel="#{messages.wizard_next}" widgetVar="wizard" >
                        <p:tab id="route_allgemein" title="#{messages.wizard_header_route_allgemein}" >
                            <p:panel header="#{messages.wizard_header_route_allgemein}">

                                <h:panelGrid columns="2"  width="100%">
                                    <h:panelGrid id="add_route" columns="2" width="400">

                                        <p:outputLabel value="#{messages.route_name}" for="name"/>
                                        <p:inputText id="name" required="true" value="#{routeBean.route.name}"/>

                                        <p:outputLabel value="#{messages.route_schwer}" for="diff"/>
                                        <h:panelGroup >
                                            <p:inputText id="diff" required="true" value="#{routeBean.route.difficulty}"/>
                                            <p:slider for="diff" />
                                        </h:panelGroup>


                                        <p:outputLabel value="#{messages.route_ausruestung}" for="aus"/>
                                        <p:inputText id="aus" required="false" value="#{routeBean.route.equipment}"/>

                                        <p:outputLabel value="#{messages.route_type}" for="type"/>

                                        <p:selectOneMenu id="type" required="true" value="#{routeBean.route.type}"  >

                                            <f:selectItem itemValue="abbey" itemLabel="#{messages.abbey}"/>
                                            <f:selectItem itemValue="bouddha" itemLabel="#{messages.bouddha}"/>
                                            <f:selectItem itemValue="cemetary" itemLabel="#{messages.cemetary}"/>
                                            <f:selectItem itemValue="chapel" itemLabel="#{messages.chapel}"/>
                                            <f:selectItem itemValue="church" itemLabel="#{messages.church}"/>
                                            <f:selectItem itemValue="convent" itemLabel="#{messages.convent}"/>
                                            <f:selectItem itemValue="cross" itemLabel="#{messages.cross}"/>
                                            <f:selectItem itemValue="graveyard" itemLabel="#{messages.graveyard}"/>
                                            <f:selectItem itemValue="headstone" itemLabel="#{messages.headstone}"/>
                                            <f:selectItem itemValue="japanese_temple" itemLabel="#{messages.japanese_temple}"/>
                                            <f:selectItem itemValue="jewish_graveyard" itemLabel="#{messages.jewish_graveyard}"/>
                                            <f:selectItem itemValue="monument" itemLabel="#{messages.monument}"/>
                                            <f:selectItem itemValue="mosquee" itemLabel="#{messages.mosquee}"/>
                                            <f:selectItem itemValue="prayer" itemLabel="#{messages.prayer}"/>
                                            <f:selectItem itemValue="star" itemLabel="#{messages.star}"/>
                                            <f:selectItem itemValue="statue" itemLabel="#{messages.statue}"/>
                                            <f:selectItem itemValue="synagogue" itemLabel="#{messages.synagogue}"/>
                                            <f:selectItem itemValue="templehindu" itemLabel="#{messages.templehindu}"/>
                                            <f:selectItem itemValue="theravadatemple" itemLabel="#{messages.theravadatemple}"/>

                                        </p:selectOneMenu>



                                    </h:panelGrid>



                                </h:panelGrid>  


                            </p:panel>
                        </p:tab>
                        <p:tab id='route_karte' title="#{messages.wizard_header_route_punkte}">
                            <p:panel header="#{messages.wizard_header_route_punkte}">

                                <m:map id="gmaps_karte_add" width="800px" height="550px" latitude="51.96" longitude="7.615" partiallyTriggered="true" >

                                    <m:marker id="position_" draggable="true" 
                                              valueChangeListener="#{routeBean.legePunktFest}" 
                                              >


                                        <m:icon imageURL="http://www.google.com/mapfiles/markerA.png"/>
                                        <m:htmlInformationWindow htmlText="#{messages.route_neue_position}"/>

                                        <p:ajax update="latitude, longitude"/>

                                    </m:marker>



                                </m:map>
                                <p:outputLabel value="#{messages.route_lat}" for="latitude"/>
                                <p:outputLabel id="latitude"  value="#{routeBean.routepoint.latitude}"  />

                                <p:outputLabel value=" | "/>
                                <p:outputLabel value="#{messages.route_long}" for="longitude"/>
                                <p:outputLabel id="longitude" value="#{routeBean.routepoint.longitude}" />

                                <p:commandButton id="save_routepoint" value="#{messages.route_punkt_hinzu}" 
                                                 action="#{routeBean.speicher_routepoint_in_liste()}" 
                                                 update="gmaps_karte_route_uebersicht"/>


                            </p:panel>
                            <p:panel header="#{messages.wizard_header_route_punkteaufkarte}" collapsed="false">

                                <m:map id="gmaps_karte_route_uebersicht" width="800px" height="550px"  
                                       partiallyTriggered="true" latitude="51.96" longitude="7.615" 
                                       binding="#{routeBean.map}" autoReshape="true" />
                            </p:panel>

                        </p:tab>

                        <p:tab id="route_ors" title="#{messages.wizard_header_route_ors}">
                            <p:panel header="#{messages.wizard_header_route_ors}">
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGrid id="add_route_dauer_distanz" columns="2" width="400" >

                                        <p:outputLabel value="#{messages.route_dauer}" for="dur"/>
                                        <p:inputText id="dur" required="false" value="#{routeBean.route.duration}"/>

                                        <p:outputLabel value="#{messages.route_distanz}" for="dis"/>
                                        <p:inputText id="dis" required="false" value="#{routeBean.route.distance}"/>


                                        <p:outputLabel value=" " />
                                        <p:commandButton value="#{messages['anfrage']}" action="#{wikiORS.routenInfosviaORSService()}"/> 

                                    </h:panelGrid>

                                    <p:dataTable id="resultORS" value="#{wikiORS.instructions}" var="l" rows="10"
                                                 paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"> 
                                        <f:facet name="{Exporters}">
                                            <p:outputLabel value="ORS Service"/>
                                            <p:spacer width="15px"/>
                                            <p:outputLabel value="#{messages['dauer']}: #{wikiORS.duration} #{messages['minuten']}"/>
                                            <p:spacer width="15px"/>
                                            <p:outputLabel value="#{messages['distanz']}: #{wikiORS.ausgabe}"/>
                                            <p:spacer width="15px"/>
                                            <h:commandLink>
                                                <img src="../../resources/Images/pdf.png" width="24" alt=""/>
                                                <p:dataExporter type="pdf" target="resultORS" fileName="Route"/>
                                            </h:commandLink>
                                        </f:facet>                                
                                        <p:column>
                                            <p:outputLabel value="#{l.description}"/>
                                        </p:column>
                                        <p:column>
                                            <p:outputLabel value=" #{l.instruction}"/>
                                        </p:column>

                                    </p:dataTable>


                                </p:panelGrid>
                            </p:panel>
                        </p:tab>

                        <p:tab id="route_pois" title="#{messages.wizard_header_route_pois}">
                            <p:panel header="#{messages.wizard_header_route_pois}">
                                <m:map id="gmaps_karte_route_pois" width="800px" height="550px"  
                                       partiallyTriggered="true" latitude="51.96" longitude="7.615"
                                       binding="#{routeBean.poimap}" 
                                       autoReshape="true" />



                                <p:panel header="#{messages.routeplace_hinzufuegen}" style="margin-bottom:20px">
                                    <h:panelGrid columns="2" cellpadding="5">

                                        <h:outputLabel value="#{messages.routeplace_id}:" for="id_place"></h:outputLabel>
                                        <p:inputText id="id_place" value="#{routeBean.id_places}" required="true"/>

                                        <p:commandButton id="btn_poi_reset" value="#{messages.routeplace_reset}" type="reset"/>
                                        <p:commandButton id="btn_poi_add" value="#{messages.routeplace_add}" update="add_pois @parent" action="#{routeBean.fuege_poi_hinzu()}" >
                                        </p:commandButton>

                                    </h:panelGrid>
                                </p:panel>

                                <p:outputPanel id="add_pois">
                                    <p:dataTable value="#{routeBean.places_Liste}" var="place" id="place_routeTable" emptyMessage="#{messages.routeplace_keine_eintrage}">



                                        <p:column headerText="#{messages.routeplace_id}">
                                            <h:outputText value="#{place.idPlaces}" />
                                        </p:column>

                                        <p:column headerText="#{messages.routeplace_name}">
                                            <h:outputText value="#{place.name}" />
                                        </p:column>
                                        <!--
            
                                        <p:column headerText="#{messages.beschreibung_text}">
                                            <h:outputText value="#{beschreib.text}" />
                                        </p:column>-->

                                        <p:column headerText="#{messages.routeplace_aktion}">
                                            <!--<h:outputText value="#{place.idPlaces}" />-->
                                            <p:commandButton value="#{messages.routeplace_delete}" ajax="true" 
                                                             update=":route_hinzu_wizard:place_routeTable" actionListener="#{routeBean.entferne_poi_aus_liste}">
                                                <f:attribute name="poiid" value="#{place.idPlaces}" />

                                            </p:commandButton>
                                        </p:column>

                                    </p:dataTable>
                                </p:outputPanel>



                            </p:panel>

                        </p:tab>

                        <p:tab id="Route_beschreibung" title="#{messages.wizard_header_route_beschreibung}">
                            <p:panel header="#{messages.wizard_header_route_beschreibung}">


                                <p:panel header="#{messages.beschreibung_neue_beschreibung}" style="margin-bottom:20px">
                                    <h:panelGrid columns="2" cellpadding="5">

                                        <h:outputLabel value="#{messages.beschreibung_sprache}:" for="sprache" ></h:outputLabel>


                                        <p:selectOneMenu id="sprache"  value="#{routeBean.beschreibung.language}" required="true" >
                                            <f:selectItem itemValue="de" itemLabel="#{messages.deutsch}" />
                                            <f:selectItem itemValue="en" itemLabel="#{messages.englisch}" />
                                        </p:selectOneMenu>



                                        <h:outputLabel value="#{messages.beschreibung_interessen}:" for="interessen" ></h:outputLabel>

                                        <p:selectOneMenu id="interessen" value="#{routeBean.beschreibung.interest}" required="true" >

                                            <f:selectItem itemValue="religiös" itemLabel="#{messages.religiös}" />
                                            <f:selectItem itemValue="historisch" itemLabel="#{messages.historisch}" />
                                            <f:selectItem itemValue="kulturell" itemLabel="#{messages.kulturell}" />
                                            <f:selectItem itemValue="geographisch" itemLabel="#{messages.geographisch}" />

                                        </p:selectOneMenu>


                                        <h:outputLabel value="#{messages.beschreibung_text}:" for="text"></h:outputLabel>
                                        <p:inputTextarea id="text" value="#{routeBean.beschreibung.text}" required="false"/>

                                        <p:commandButton id="btn_reset" value="#{messages.beschreibung_reset}" type="reset"/>
                                        <p:commandButton id="btn_add" value="#{messages.beschreibung_add}" 
                                                         actionListener="#{routeBean.speicher_beschreibung_in_liste}" 
                                                         update=":route_hinzu_wizard:add_beschreibung, :route_hinzu_wizard:text, :route_hinzu_wizard:interessen, :route_hinzu_wizard:sprache" />

<!--                                                <p:collector value="#{routeBean.beschreibung}" addTo="#{routeBean.beschreibung_liste}" unique="true"/>
</p:commandButton>-->
                                    </h:panelGrid>
                                </p:panel>

                                <p:outputPanel id="add_beschreibung">
                                    <p:dataTable value="#{routeBean.beschreibung_liste}" var="beschreib" id="beschreibungTable" emptyMessage="#{messages.beschreibung_keine_eintrage}">

                                        <p:column headerText="#{messages.beschreibung_sprache}">
                                            <h:outputText value="#{beschreib.language}" />
                                        </p:column>

                                        <p:column headerText="#{messages.beschreibung_interessen}">

                                            <h:outputText value="#{beschreib.interest}" />
                                        </p:column>

                                        <p:column headerText="#{messages.beschreibung_text}">
                                            <h:outputText value="#{beschreib.text}" />
                                        </p:column>
                                        <!--TODO: das löschen von beschreibungen ist Fehlerhaft !!-->
                                        <p:column headerText="#{messages.beschreibung_aktion}">
                                            <p:commandButton value="#{messages.beschreibung_delete}" update=":route_hinzu_wizard:add_beschreibung" 
                                                             process=":route_hinzu_wizard:add_beschreibung">
                                                <p:collector value="#{beschreib}" removeFrom="#{routeBean.beschreibung_liste}" unique="false"/>
                                            </p:commandButton>
                                        </p:column>

                                    </p:dataTable>
                                </p:outputPanel>



                            </p:panel>

                        </p:tab>
                        <p:tab id="route_erstellen" title="#{messages.wizard_header_route_erstellen}">
                            <p:panel header="#{messages.wizard_header_route_erstellen}">
                                <h:panelGrid columns="2">
                                    <p:outputLabel value="#{messages.route_name}" />
                                    <p:outputLabel  value="#{routeBean.route.name}"/>

                                    <p:outputLabel value="#{messages.route_schwer}" />
                                    <p:outputLabel value="#{routeBean.route.difficulty}"/>


                                    <p:outputLabel value="#{messages.route_dauer}" />
                                    <p:outputLabel value="#{routeBean.route.duration}"/>

                                    <p:outputLabel value="#{messages.route_distanz}" />
                                    <p:outputLabel value="#{routeBean.route.distance}"/>

                                    <p:outputLabel value="#{messages.route_ausruestung}" />
                                    <p:outputLabel value="#{routeBean.route.equipment}"/>

                                    <p:outputLabel value="#{messages.route_type}" />
                                    <p:outputLabel value="#{routeBean.route.type}"/>


                                </h:panelGrid>
                                <br/>
                                <p:outputPanel >
                                    <p:dataTable value="#{routeBean.beschreibung_liste}" var="beschreib" emptyMessage="#{messages.beschreibung_keine_eintrage}">

                                        <p:column headerText="#{messages.beschreibung_sprache}">
                                            <h:outputText value="#{beschreib.language}" />
                                        </p:column>

                                        <p:column headerText="#{messages.beschreibung_interessen}">

                                            <h:outputText value="#{beschreib.interest}" />
                                        </p:column>

                                        <p:column headerText="#{messages.beschreibung_text}">
                                            <h:outputText value="#{beschreib.text}" />
                                        </p:column>



                                    </p:dataTable>
                                </p:outputPanel>
                                <br/>

                                <p:outputPanel id="anzeigen_pois">
                                    <p:dataTable value="#{routeBean.places_Liste}" var="place" emptyMessage="#{messages.routeplace_keine_eintrage}">



                                        <p:column headerText="#{messages.routeplace_id}">
                                            <h:outputText value="#{place.idPlaces}" />
                                        </p:column>

                                        <p:column headerText="#{messages.routeplace_name}">
                                            <h:outputText value="#{place.name}" />
                                        </p:column>



                                    </p:dataTable>
                                </p:outputPanel>
                                <br/>
                                <!--<p:commandButton id="echter_save" value="#{messages.route_eintragen}" ajax="true" action="#{routeBean.persistiere()}" update="name,diff,dur " />-->

                                <p:commandButton id="save" value="#{messages.route_eintragen}" 
                                                 action="#{routeBean.persistiere()}" 
                                                 update=":route_hinzu_wizard:" ajax='true'
                                                 oncomplete="PF('wizard').loadStep('route_allgemein', true)"
                                                 />
                                <!--                                                 oncomplete=="PF('wiz').loadStep('poi_allgemein', false)" -->


                            </p:panel>

                        </p:tab>

                    </p:wizard>











                </h:form>


            </ui:define>

        </ui:composition>

    </h:body>


</html>
