<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
/*******************************************************
* WanderApp
* erstellt am 10.04.2015
* Routepoint hinzufuegen 
* Verantwortlich: Claas Schlonsok
* Version 0.5
* editiert: Andre Hantke
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">

    <!--<f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>-->

    <h:head>

        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      
        

    </h:head>    
    <h:body>  
        <ui:composition template="/resources/template.xhtml">
          
            <ui:define name="content">   
              
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"/>


                <h2>BITTE DEN WIZARD BENUTZEN!! <h:outputText value="#{messages.menu_route_erstellen}"/></h2>



               

                <h:form id="form_1">
                    <p:panel>
                        <h:panelGrid columns="2" border="1" width="100%">
                            <h:panelGrid id="add_poi" columns="2" width="400">


                            <p:outputLabel value="#{messages.route_name}" for="name"/>
                            <p:inputText id="name" label="Name" required="false" value="#{routeBean.route.name}"/>

                            <p:outputLabel value="#{messages.route_schwer}" for="diff"/>
                            <p:inputText id="diff" label="Schwer" required="false" value="#{routeBean.route.difficulty}"/>


                            <p:outputLabel value="#{messages.route_dauer}" for="dur"/>
                            <p:inputText id="dur" label="dauer" required="false" value="#{routeBean.route.duration}"/>

                            <p:outputLabel value="#{messages.route_distanz}" for="dis"/>
                            <p:inputText id="dis" required="false" value="#{routeBean.route.distance}"/>

                            <p:outputLabel value="#{messages.route_ausruestung}" for="aus"/>
                            <p:inputText id="aus" required="false" value="#{routeBean.route.equipment}"/>

                            <p:outputLabel value="#{messages.route_type}" for="type"/>
                            <p:inputText id="type"  required="false" value="#{routeBean.route.type}"/>


                            <p:outputLabel value=" " />
                            <p:commandButton value="#{messages.route_punkt_hinzu}" type="button" onclick="PF('dia').show();" />
                            <p:outputLabel value=" " />
                            <p:commandButton value="#{messages['anfrage']}" action="#{wikiORS.routenInfosviaORSService()}"/> 
                          
                            <p:commandButton id="save" value="#{messages.route_eintragen}" ajax="true" action="#{routeBean.persistiere()}" update="name,diff,dur,gmaps_karte_route_uebersicht, :besch_form:add_beschreibung, :besch_form: " />
                        </h:panelGrid>
                    
                            
                        <h:panelGrid id="resultORS" columns="1" border="0" width="auto">
                            <p:dataTable id="data" value="#{wikiORS.instructions}" var="l" rows="10"
                                         paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"> 
                                <f:facet name="{Exporters}">
                                    <p:outputLabel value="ORS Service"/>
                                    <p:spacer width="15px"/>
                                    <p:outputLabel value="#{messages['dauer']}: #{wikiORS.duration} #{messages['minuten']}"/>
                                    <p:spacer width="15px"/>
                                    <p:outputLabel value="#{messages['distanz']}: #{wikiORS.ausgabe}"/>
                                    <p:spacer width="15px"/>
                                    <h:commandLink>
                                        <img src="../../resources/Images/pdf.png" width="24" alt=""/>
                                        <p:dataExporter type="pdf" target="data" fileName="Route"/>
                                     </h:commandLink>
                                </f:facet>                                
                                <p:column>
                                    <p:outputLabel value="#{l.description}"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value=" #{l.instruction}"/>
                                </p:column>
                                
                            </p:dataTable>
                          
                        </h:panelGrid>
                    </h:panelGrid>  
                    </p:panel>
                    <p:panel>
                    <m:map id="gmaps_karte_route_uebersicht" width="800px" height="550px"  
                           partiallyTriggered="true" latitude="51.96" longitude="7.615" 
                           binding="#{routeBean.map}" autoReshape="true">
                    </m:map>
                    <p:commandButton id="btn_lade_pois" value="btn_lade_pois" 
                                     update="gmaps_karte_route_uebersicht" 
                                     action="#{routeBean.lade_alle_pois_in_map()}" />
                           
                    </p:panel>


                    <p:dialog id="dia" widgetVar="dia" modal="true" closeOnEscape="true" >
                        <h:form id="speicher_routepoint">
                            <m:map id="gmaps_karte" width="800px" height="550px" latitude="51.96" longitude="7.615"  >

                                <m:marker id="position_" draggable="true" 
                                          valueChangeListener="#{routeBean.legePunktFest}" 
                                          >


                                    <m:icon imageURL="http://www.google.com/mapfiles/markerA.png"/>
                                    <m:htmlInformationWindow htmlText="#{messages.route_neue_position}"/>

                                    <p:ajax update="latitude, longitude"/>

                                </m:marker>



                            </m:map>
                            <p:outputLabel value="#{messages.route_lat}" for="latitude"/>
                            <p:outputLabel id="latitude"  value="#{routeBean.routepoint.latitude}"  />

                            <p:outputLabel value=" | "/>
                            <p:outputLabel value="#{messages.route_long}" for="longitude"/>
                            <p:outputLabel id="longitude" value="#{routeBean.routepoint.longitude}" />

                            <p:commandButton id="save_routepoint" value="#{messages.route_punkt_hinzu}" action="#{routeBean.speicher_routepoint_in_liste()}" update=":form_1:gmaps_karte_route_uebersicht"/>
                        </h:form>

                    </p:dialog>
                    
                </h:form>
                
                <!--//TODO muss noch umgebaut werden-->
                <!--HIER WERDEN DIE POI SELEKTIERT DIE ZUR ROUTE HINZUGEFÜPGT WERDEN-->
                <h:form id="pois_form">
                    <p:panel header="#{messages.routeplace_hinzufuegen}" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel value="#{messages.routeplace_id}:" for="text"></h:outputLabel>
                            <p:inputText id="text" value="#{routeBean.id_places}" required="true"/>

                            <p:commandButton id="btn_reset" value="#{messages.routeplace_reset}" type="reset"/>
                            <p:commandButton id="btn_add" value="#{messages.routeplace_add}" update="add_pois @parent" action="#{routeBean.fuege_poi_hinzu()}" >
                            </p:commandButton>
                            
                        </h:panelGrid>
                    </p:panel>

                    <p:outputPanel id="add_pois">
                        <p:dataTable value="#{routeBean.places_Liste}" var="place" id="place_routeTable" emptyMessage="#{messages.routeplace_keine_eintrage}">

                            

                            <p:column headerText="#{messages.routeplace_id}">
                                <h:outputText value="#{place.idPlaces}" />
                            </p:column>
                            
                            <p:column headerText="#{messages.routeplace_name}">
                                <h:outputText value="#{place.name}" />
                            </p:column>
                            <!--

                            <p:column headerText="#{messages.beschreibung_text}">
                                <h:outputText value="#{beschreib.text}" />
                            </p:column>-->

                            <p:column headerText="#{messages.routeplace_aktion}">
                                <!--<h:outputText value="#{place.idPlaces}" />-->
                                <p:commandButton value="#{messages.routeplace_delete}" ajax="true" 
                                                 update=":pois_form" actionListener="#{routeBean.entferne_poi_aus_liste}">
                                    <f:attribute name="poiid" value="#{place.idPlaces}" />
                                    
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </p:outputPanel>





                </h:form>
                
                <hr />
                <h:form id="besch_form">
                    <p:panel header="#{messages.beschreibung_neue_beschreibung}" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel value="#{messages.beschreibung_sprache}:" for="sprache" ></h:outputLabel>
                            <p:selectOneMenu id="sprache"  value="#{routeBean.beschreibung.language}" required="true" >
                                <f:selectItem itemValue="de" itemLabel="Deutsch" />
                                <f:selectItem itemValue="en" itemLabel="Englisch" />
                            </p:selectOneMenu>
<!--                            <p:inputText id="txt_title" value="#{routeBean.beschreibung.language}" required="true"/>-->


                            <h:outputLabel value="#{messages.beschreibung_interessen}:" for="interessen" ></h:outputLabel>
                            <p:selectOneMenu id="interessen" value="#{routeBean.beschreibung.interest}" required="true" >

                                <f:selectItem itemValue="religiös" itemLabel="religiös" />
                                <f:selectItem itemValue="historisch" itemLabel="historisch" />
                                <f:selectItem itemValue="kulturel" itemLabel="kulturel" />
                            </p:selectOneMenu>
                            <!--<p:inputText id="interessen" value="#{routeBean.beschreibung.interest}" required="true"/>-->

                            <h:outputLabel value="#{messages.beschreibung_text}:" for="text"></h:outputLabel>
                            <p:inputTextarea id="text" value="#{routeBean.beschreibung.text}" required="true"/>

                            <p:commandButton id="btn_reset" value="#{messages.beschreibung_reset}" type="reset"/>
                            <p:commandButton id="btn_add" value="#{messages.beschreibung_add}" update="add_beschreibung @parent" action="#{routeBean.leere_neue_beschreibung()}" >
                                <p:collector value="#{routeBean.beschreibung}" addTo="#{routeBean.beschreibung_liste}" unique="false"/>
                            </p:commandButton>
                        </h:panelGrid>
                    </p:panel>

                    <p:outputPanel id="add_beschreibung">
                        <p:dataTable value="#{routeBean.beschreibung_liste}" var="beschreib" id="beschreibungTable" emptyMessage="#{messages.beschreibung_keine_eintrage}">

                            <p:column headerText="#{messages.beschreibung_sprache}">
                                <h:outputText value="#{beschreib.language}" />
                            </p:column>

                            <p:column headerText="#{messages.beschreibung_interessen}">

                                <h:outputText value="#{beschreib.interest}" />
                            </p:column>

                            <p:column headerText="#{messages.beschreibung_text}">
                                <h:outputText value="#{beschreib.text}" />
                            </p:column>

                            <p:column headerText="#{messages.beschreibung_aktion}">
                                <p:commandLink value="#{messages.beschreibung_delete}" update=":besch_form:add_beschreibung" process=":besch_form:add_beschreibung">
                                    <p:collector value="#{beschreib}" removeFrom="#{routeBean.beschreibung_liste}" unique="false"/>
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>
                    </p:outputPanel>





                </h:form>

                
              
            </ui:define>
 
        </ui:composition>
        
    </h:body>


</html>
