<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************
* WanderApp
* erstellt am 12.04.2015
* Hier soll genau eine Route als karte und dessen Kommentare etc angezeigt werden
* Verantwortlich: Claas Schlonsok
* Version 0.1
* editiert: Andre Hantke
********************************************************/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">
    <h:head>
        <title>Eine Route anzeigen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body>
        <ui:composition template="/resources/template.xhtml">
            
            <ui:define name="content">     
                <p:panel>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"/>
                <f:metadata>
                    <!--Durch dieses setzten wird der POI selektiert und aus der DB gelesen-->
                    <f:viewParam name="routeId" value="#{routeBean.selektierte_id}"  />
                </f:metadata>

                <div align="center">
                    <h:form id="RouteViewForm">
                        <h:panelGroup id="display">
                            <p:panelGrid columns="2">



                                <p:outputLabel value="#{messages.route_id}"/>
                                <p:outputLabel value="#{routeBean.selektierte_route.idRoutes}" title="s"/>
                                <p:outputLabel value="#{messages.route_name}"/>
                                <p:outputLabel value="#{routeBean.selektierte_route.name}"/>

                                <p:outputLabel value="#{messages.route_type}"/>
                                <p:outputLabel value="#{routeBean.selektierte_route.type}"/>

                                <p:outputLabel value="#{messages.route_ausruestung}"/>
                                <p:outputLabel value="#{routeBean.selektierte_route.equipment}"/>

                                <p:outputLabel value="#{messages.route_schwer}"/>
                                <p:outputLabel value="#{routeBean.selektierte_route.difficulty}"/>

                                <p:outputLabel value="#{messages.route_distanz}"/>
                                <p:outputLabel value="#{routeBean.selektierte_route.distance}"/>

                                <p:outputLabel value="#{messages.route_dauer}"/>
                                <p:outputLabel value="#{routeBean.selektierte_route.duration}"/>

                                <p:button outcome="/users/route/routen_karte.xhtml" value="#{messages.zurueck_zur_karte}"  />
                                <p:commandButton onclick="PF('CommentsCreateDialog').show()" value="#{messages.kommentar_erstellen}" icon="ui-icon-comment"/>

                            </p:panelGrid>

                            <m:map id="gmaps_karte" width="800px" height="550px"  latitude="51.96" longitude="7.615" binding="#{routeBean.selektierte_map}" autoReshape="true" >
                            </m:map>

                            <p:accordionPanel value="#{routeBean.selected_des}" var="desc">
                                <p:tab title="#{desc.language} - #{desc.interest}">
                                    <p:outputLabel value ="#{desc.text}"/>
                                </p:tab>
                            
                            </p:accordionPanel>
                            
                            
                            <p:dialog id="CommentsCreateDialog" widgetVar="CommentsCreateDialog" modal="true" resizable="false" >

                                <h:panelGroup id="dialog">
                                    <p:panelGrid columns="2" >
                                        <h:outputText value="#{messages.kommentar_neu_obj}" ></h:outputText>
                                        <h:outputText value="#{routeBean.selektierte_route.name}"></h:outputText>

                                        <h:outputText value="#{messages.kommentar_neu_kommentar}"/>
                                        <h:inputTextarea id="kommentar_text" value="#{routeBean.neuer_kommentar.text}"></h:inputTextarea>



                                        <h:outputText value="#{messages.kommentar_neu_bewert}"/>
                                        <p:rating  id="kommentar_bewertung" value="#{routeBean.neuer_kommentar.rating}"/>

                                    </p:panelGrid>

                                    <p:commandButton value="#{messages.kommentar_neu_speichern}" actionListener="#{routeBean.speicher_neuen_kommentar()}" 
                                                     oncomplete="PF('CommentsCreateDialog').hide()" update="kommentare, kommentar_text, kommentar_bewertung"/>

                                    <p:commandButton value="#{messages.kommentar_neu_cancel}" onclick="PF('CommentsCreateDialog').hide()"/>
                                </h:panelGroup>

                            </p:dialog>




                            <!--//kommentare auflisten-->
                            <p:dataScroller value="#{routeBean.selektierte_route.commentsList}" var="kommentar" chunkSize="10" mode="inline" scrollHeight="500" id="kommentare">
                                <f:facet name="header">
                                    #{messages.mehr_kommentare}
                                </f:facet>

                                <h:panelGrid style="width:100%" columns="2" border="1" >


                                    <p:outputPanel style="width: 200px">
                                        <h:panelGrid columns="2" cellpadding="5">



                                            <h:outputText value="#{messages.komm_id}" />
                                            <h:outputText value="#{kommentar.idComments}" style="font-weight: bold"/>



                                            <h:outputText value="#{messages.komm_datum}" />
                                            <h:outputText value="#{kommentar.time}" style="font-weight: bold">
                                                <f:convertDateTime type="both" dateStyle="default" timeStyle="default" timeZone="Europe/Berlin"/>
                                            </h:outputText>




                                            <h:outputText value="#{messages.komm_user}" />
                                            <h:outputText value="#{kommentar.idUser}" style="font-weight: bold"/>



                                            <h:outputText value="#{messages.komm_bewert}" />
                                            <p:rating value="#{kommentar.rating}" readonly="true" />

                                        </h:panelGrid>
                                    </p:outputPanel>


                                    <p:outputPanel>

                                        <h:outputText value="#{messages.komm_komm}" />
                                        <h:outputText value="#{kommentar.text}" style="font-weight: bold" />






                                    </p:outputPanel>


                                </h:panelGrid>



                            </p:dataScroller>


                        </h:panelGroup>
                    </h:form>

                </div>
                </p:panel>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
