<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TodosEditDlg" widgetVar="TodosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditTodosTitle}">
            <h:form id="TodosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{todosController.selected != null}">
                        <p:outputLabel value="#{messages.EditTodosLabel_idToDos}" for="idToDos" />
                        <p:inputText id="idToDos" value="#{todosController.selected.idToDos}" title="#{messages.EditTodosTitle_idToDos}"  disabled="true"  required="true" requiredMessage="#{messages.EditTodosRequiredMessage_idToDos}"/>
                        <p:outputLabel value="#{messages.EditTodosLabel_idUser}" for="idUser" />
                        <p:selectOneMenu id="idUser" value="#{todosController.selected.idUser}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{usersController.itemsAvailableSelectOne}"
                                           var="idUserItem"
                                           itemValue="#{idUserItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.EditTodosLabel_idPlace}" for="idPlace" />
                        <p:selectOneMenu id="idPlace" value="#{todosController.selected.idPlace}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{placesController.itemsAvailableSelectOne}"
                                           var="idPlaceItem"
                                           itemValue="#{idPlaceItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.EditTodosLabel_idRoute}" for="idRoute" />
                        <p:selectOneMenu id="idRoute" value="#{todosController.selected.idRoute}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{routesController.itemsAvailableSelectOne}"
                                           var="idRouteItem"
                                           itemValue="#{idRouteItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{todosController.update}" value="#{messages.Save}" update="display,:TodosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TodosEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="TodosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
