<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TodosViewDlg" widgetVar="TodosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewTodosTitle}">
            <h:form id="TodosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{todosController.selected != null}">
                        <h:outputText value="#{messages.ViewTodosLabel_idToDos}"/>
                        <h:outputText value="#{todosController.selected.idToDos}" title="#{messages.ViewTodosTitle_idToDos}"/>
                        <h:outputText value="#{messages.ViewTodosLabel_idUser}"/>
                        <h:outputText value="#{todosController.selected.idUser}" title="#{messages.ViewTodosTitle_idUser}"/>
                        <h:outputText value="#{messages.ViewTodosLabel_idPlace}"/>
                        <h:outputText value="#{todosController.selected.idPlace}" title="#{messages.ViewTodosTitle_idPlace}"/>
                        <h:outputText value="#{messages.ViewTodosLabel_idRoute}"/>
                        <h:outputText value="#{todosController.selected.idRoute}" title="#{messages.ViewTodosTitle_idRoute}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="TodosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
