<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* Footer
* Verantwortlich: Andre Hantke
* Version 0.5
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <h:head>
        <title>FOOTER</title>
    </h:head>
    <h:body>    
        <ui:composition>
            <h:panelGrid columns="3" border="0">
                <h:form>
                    <p:commandLink value="#{messages['Startseite']}" action="#{navigationBean.goToStartseite()}" style="color: white" ajax="false"/>
                    <p:spacer width="15px"/>
                    <p:commandLink value="#{messages['Hilfe']}" action="#{navigationBean.goToHilfe()}" style="color: white" ajax="false"/>
                </h:form>
            </h:panelGrid>
        </ui:composition>
    </h:body>
</html>
