<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* Template mit Willkommensgruß nach erfolgreichen login!
* Verantwortlich: Andre Hantke
* Version 1.0
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   
    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <h:head>
        <title> </title>
         <f:facet name="last">
            <h:outputStylesheet library="css" name="growl.css"/>
        </f:facet>       
    </h:head>
    <h:body>
        <ui:composition>
        <h:form style="margin-left: auto; margin-right: 0px; ">
           <p:growl id="growl" showDetail="true"  autoUpdate="true" class="ui-growl"/>                                      
            <p:panel widgetVar="panel1" id="panelLogin" style="border-color: transparent; height: 90px;">
                <h:panelGrid columns="5" style="width: auto;">
                    <p:selectOneMenu id="selectLanguage" valueChangeListener="#{internationalButton.processValueChange}" onchange="this.form.submit()" value="#{internationalButton.loc}">
                        <f:selectItems value="#{internationalButton.country}"/>
                    </p:selectOneMenu>
                    <p:spacer width="15px"/>
                    <p:outputLabel value="#{messages['willkommen2']} #{loginBean.name}"/>
                    <p:spacer width="15px" height="0px"/>
                    <p:commandButton value="Logout" actionListener="#{loginBean.user_ausloggen()}" action="index.xhtml" ajax="false"/>
                    <p:spacer/>
                    <p:spacer/>
                    <p:commandLink value="#{messages['meinkonto']}" action="#{dialogBean.showMyAccountDialog()}" style="font-size: 15px;  color: teal;"/>
                </h:panelGrid>
            </p:panel>                                  
        </h:form>  
        </ui:composition>
    </h:body>
</html>
