<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* Login Formular rechts oben inkl. Internationalsierung
* Verantwortlich: Andre Hantke
* Version 1.0
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <h:head>
        <title> </title>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>       
    </h:head>    
    <h:body>
        <ui:composition>
            <p:panel widgetVar="panel1" id="panelLogin" style="border-color: transparent; height: 90px;">  
            <h:form>
                <p:growl id="growl" showDetail="true" class="ui-growl" autoUpdate="true"/>                                      
                 
                    <!--TODO: Alternative zum panelgrid verwenden damit das Desgin bei schmalerern Bildschirmen nicht zerschossen wird-->
                    <h:panelGrid  columns="4" cellpadding="5" style="overflow-y: hidden; width: auto; margin-left: auto; " >    
                        <p:selectOneMenu id="selectLanguage" valueChangeListener="#{internationalButton.processValueChange}" onchange="this.form.submit()" value="#{internationalButton.loc}" style="border-color: transparent;">
                            <f:selectItems id="items" value="#{internationalButton.country}"/>
                        </p:selectOneMenu>
                        
                            <p:inputText id="mail" type="text" placeholder="Email" value="#{loginBean.email}" alt=""/>
                            <p:inputText id="pass" type="password" placeholder="#{messages['Passwortlang']}" value="#{loginBean.passwort}" alt=""/>
                           
                            <p:commandButton value="Login" actionListener="#{loginBean.checkUserLogin()}" action="index.xhtml" ajax="false"/>  
                               
                    </h:panelGrid>   
            </h:form> 
            <h:form> 
                <h:panelGrid  columns="2" cellpadding="5" style="overflow-y: hidden; width: auto; margin-left: auto; " >             
                   <p:commandLink value="#{messages['Registrierung']}?" action="#{dialogBean.showRegistrationDialog()}" style=" font-size: 15px;  color: teal;"/>
                   <p:commandLink value="#{messages['passvergessen']}" action="#{dialogBean.showPasswordNewDialog()}" style="font-size: 15px;  color: teal;"/>
                   
                </h:panelGrid> 
            </h:form> 

            </p:panel>                                   
            <!--</h:form>-->
        </ui:composition>
    </h:body>
</html>