<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* Facelet zur Eingabe einer Stadt oder ähnliches
* mit Anzeige auf Karte
* gehört zur Bean cardModel!
* Verantwortlich: Andre Hantke
* Version 1.0
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">
    <h:head>
        <title>Karte</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true">
         </script>
    </h:head>
    <h:body>
        <h:form>
            <p:panel>
                <h:outputLabel value="Stadt:" ></h:outputLabel>
                <p:spacer width="15px"/>
                <p:inputText value="#{cardModel.stadt}"/>
                <p:spacer width="30px"/>
                <p:commandButton value="GO!" ajax="false" action="#{cardModel.loadCard()}" update="karte"/>
            </p:panel>
            <p:panel id="karte">
                <m:map width="1000px" height="550px" binding="#{cardModel.map}" partiallyTriggered="false">
                 <m:marker>
                     <m:htmlInformationWindow htmlText="Hier liegt #{cardModel.stadt}!"/>
                 </m:marker>
             </m:map>
            </p:panel>    
        </h:form>
    </h:body>
</html>
