<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* Menübar -> sichtbar auf allen Seiten  
* Verantwortlich: Andre Hantke
* Version 1.0
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <h:head>
        <title>Menubar</title>
         <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>  
    </h:head>
    <h:body>
    
        <ui:composition>
       <h:form>
           <p:menubar id="menubar" autoDisplay="true">
              <p:menuitem value="#{messages['Startseite']}" url="#{navigationBean.goToStartseite()}"/>
      <!--        <p:menuitem value="#{messages['Wiki']}" url="#{navigationBean.goToWiki()}"/>
              <p:menuitem value="#{messages['Karte']}" url="#{navigationBean.goToKarte()}"/>-->
              <p:menuitem value="#{messages['Hilfe']}" url="#{navigationBean.goToHilfe()}"/>
            </p:menubar>
        </h:form>  
            </ui:composition>
    </h:body>
</html>

