<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 10.03.2015
* Menübar nur für Admins sichtbar wenn eingeloggt 
* Verantwortlich: Claas Schlonsok
* Version 1.0
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Menubar für Admin</title>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>  
    </h:head>
    <h:body>
        <h:form>
            <p:menubar id="menubar" autoDisplay="true">
                <p:menuitem value="#{messages['Startseite']}" url="#{navigationBean.goToStartseite()}"/>
           <!--     <p:menuitem value="#{messages['Wiki']}" url="#{navigationBean.goToWiki()}"/>
                <p:menuitem value="#{messages['Routenplanung']}" url="#{navigationBean.goToRoutenplanung()}"/>
                <p:menuitem value="#{messages['Karte']}" url="#{navigationBean.goToKarte()}"/>-->
               
                <!--Hier wird es interessant :)-->
                <p:submenu label="#{messages.menu_pois}" >
                    <p:menuitem value="#{messages.menu_poi_karte}" url="/users/pois/poi_karte.xhtml"/>
                    <p:menuitem value="#{messages.menu_poi_anzeigen}" url="/users/pois/poi_anzeigen.xhtml"/>
                    <!--<p:menuitem value="#{messages.menu_poi_erstellen}" url="/users/pois/poi_erstellen.xhtml"/>-->
                    <p:menuitem value="#{messages.menu_poi_erstellen}" url="/users/pois/poi_erstellen_wizard.xhtml"/>
                </p:submenu>

                <p:submenu label="#{messages.menu_route}" >
                    <p:menuitem value="#{messages.menu_route_karte}" url="/users/route/routen_karte.xhtml"/>
                    <p:menuitem value="#{messages.menu_route_anzeigen}" url="/users/route/routen_anzeigen.xhtml"/>
                    <!--<p:menuitem value="#{messages.menu_route_erstellen}" url="/users/route/routen_erstellen.xhtml"/>-->
                    <p:menuitem value="#{messages.menu_route_erstellen}" url="/users/route/routen_erstellen_wizard.xhtml"/>
                </p:submenu>
                
                       

                <p:submenu label="#{messages.menu_admin}" icon="ui-icon-alert">
                    <p:menuitem value="Index" url="/admin/index.xhtml" />
                    <p:separator />
                    <p:menuitem value="#{messages.Admin_Kommentare}" url="/admin/comments/List.xhtml" />

                    <p:menuitem url="/admin/descriptions/List.xhtml" value="#{messages.Admin_Beschreibung}"/>

                    <p:menuitem url="/admin/multimedia/List.xhtml" value="#{messages.Admin_Multimedia}"/>

                    <p:menuitem url="/admin/places/List.xhtml" value="#{messages.Admin_Places}"/>

                    <p:menuitem url="/admin/places_proposal/List.xhtml" value="#{messages.Admin_Places_propo}"/>

                    <p:menuitem url="/admin/placesroutes/List.xhtml" value="#{messages.Admin_Placesroutes}"/>

                    <p:menuitem url="/admin/questions/List.xhtml" value="#{messages.Admin_Fragen}"/>

                    <p:menuitem url="/admin/routepoints/List.xhtml" value="#{messages.Admin_Routepoints}"/>

                    <p:menuitem url="/admin/routes/List.xhtml" value="#{messages.Admin_Routes}"/>

                    <p:menuitem url="/admin/searches/List.xhtml" value="#{messages.Admin_Searches}"/>

                    <p:menuitem url="/admin/todos/List.xhtml" value="#{messages.Admin_Todos}"/>

                    <p:menuitem url="/admin/users/List.xhtml" value="#{messages.Admin_Benutzer}"/>
                </p:submenu>
                <p:menuitem value="#{messages['Hilfe']}" url="#{navigationBean.goToHilfe()}"/>

            </p:menubar>
        </h:form>    
    </h:body>
</html>

