<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 17.02.2015
* Menübar -> sichtbar wenn eingeloggt 
* Verantwortlich: Claas Schlonsok
* Version 1.0
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Menubar</title>
         <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>  
    </h:head>
    <h:body>
       <h:form>
           <p:menubar id="menubar" autoDisplay="true">
              <p:menuitem value="#{messages['Startseite']}" url="#{navigationBean.goToStartseite()}"/>
         <!--     <p:menuitem value="#{messages['Wiki']}" url="#{navigationBean.goToWiki()}"/>
              <p:menuitem value="#{messages['Karte']}" url="#{navigationBean.goToKarte()}"/>-->
            
              
              <!--Hier wird es interessant :)-->
              <p:submenu label="#{messages.menu_pois}" >
                 <p:menuitem value="#{messages.menu_poi_karte}" url="/users/pois/poi_karte.xhtml"/>
                 <p:menuitem value="#{messages.menu_poi_erstellen}" url="/users/pois/poi_erstellen_wizard.xhtml"/>
              </p:submenu>
              
              <p:submenu label="#{messages.menu_route}" >
                 <p:menuitem value="#{messages.menu_route_karte}" url="/users/route/routen_karte.xhtml"/>
                 <p:menuitem value="#{messages.menu_route_erstellen}" url="/users/route/routen_erstellen_wizard.xhtml"/>
              </p:submenu>
              <p:menuitem value="#{messages['Hilfe']}" url="#{navigationBean.goToHilfe()}"/>
              
                  
            </p:menubar>
        </h:form>    
    </h:body>
</html>

