<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 21.07.2014
* Mein Account Dialog
* Hier kann der Nutzer seine eigene Einstellung zu seinem 
* Account treffen, wie Sprache etc.
* Verantwortlich: Andre Hantke
* ADDon: 
* Version 0.5
* editiert: Claas Schlonsok: Behebung von Style-Fehler
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
      
  <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <h:head>
        <title>Mein Account</title>
    </h:head>
    <h:body>
        <ui:composition>
   
        
        #{myAccountBean.loadContent()}
        <p:dialog header="#{messages['meinkonto']}" widgetVar="myAccount" height="auto" closable="true">    
            <h:form id="myaccountform">
                <p:panel>                   
                    <h:panelGrid columns="2" cellspacing="10">
                        <p:outputLabel value="Name:"/>
                        <p:outputLabel value="#{loginBean.loggedinUser.name}"/>
                        <p:outputLabel value="Email:"/>
                        <p:inputText id="mailchange" value="#{loginBean.loggedinUser.email}"/>
                        <p:outputLabel value="#{messages['Passwort']}"/>
                        <p:commandButton value="#{messages['aendern']}" action="#{myAccountBean.changePassword()}" rendered="#{myAccountBean.renderpasswortaendern}" update="myaccountform"/>
                        <h:panelGrid columns="5" border="0" rendered="#{myAccountBean.renderpasswortinput}">
                            <p:password id="pass1" match="pass2" value="#{myAccountBean.pass}"/> 
                            <p:outputLabel value="#{messages['widerholteEingabe']}"/>
                            <p:password id="pass2" value="#{myAccountBean.pass}"/>
                            <p:commandButton value="#{messages['Bestaetigen']}" action="#{myAccountBean.changeNewPassword()}" update="myaccountform"/>
                            <p:commandButton value="#{messages['Abbrechen']}" action="#{myAccountBean.abbort()}" update="myaccountform"/>
                        </h:panelGrid>
                        <p:outputLabel value="#{messages['Rollstuhl']}:"/>
                        <p:selectBooleanCheckbox label="#{messages['ja']}" itemLabel="#{messages['ja']}" value="#{loginBean.loggedinUser.wheelchair}"/>                               
                        <p:outputLabel value="#{messages['Laufgeschwindigkeit']}:"/>
                        <h:selectOneMenu value="#{loginBean.loggedinUser.walkingSpeed}">
                            <f:selectItems value="#{myAccountBean.walking}"/>
                        </h:selectOneMenu>
                        <p:outputLabel value="#{messages['Sprache']}:"/>
                        <h:selectOneMenu value="#{loginBean.loggedinUser.language}">
                            <f:selectItems value="#{myAccountBean.language}"/>
                        </h:selectOneMenu>
                        <p:outputLabel value="#{messages['Interesse']}:"/>
                        <h:selectOneMenu value="#{loginBean.loggedinUser.interest}">
                            <f:selectItems value="#{myAccountBean.interests}"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <!--<h:form>-->
                        <h:panelGrid columns="2" style="width: 100% !important;" >
                            <p:commandButton icon="ui-icon-check" value="#{messages['Absenden']}" action="#{myAccountBean.updateUser()}" style="width: 100% !important;"/>
                            <p:commandButton value="#{messages['Abbrechen']}" icon="ui-icon-close" action="#{myAccountBean.closeDialog()}" style="width: 100% !important;"/>
                        </h:panelGrid>
                    <!--</h:form>-->
            </p:panel>
          </h:form>
        </p:dialog> 
        </ui:composition>
     </h:body>
</html>

