<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 21.07.2014
* Registierung Dialog
* Verantwortlich: Andre Hantke
* ADDon: AJAX Feature - Ladebalken
* Version 0.5
* editiert: Claas Schlonsok: Behebung von Style-Fehler
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
      
  <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
  <h:head>
        <title>WanderWIKI</title>
    </h:head>
    <h:body>
        <ui:composition>
      
        <p:dialog header="Passwort anfordern" widgetVar="passwordNew" height="auto" closable="true">    
            <h:form>
                <p:panel>                   
                  <p:panelGrid columns="2" >
                     <p:outputLabel value="#{messages['Email']}"/>
                     <p:inputText value="#{orderPasswordBean.email}"/>                    
                 </p:panelGrid>                    
               
                 <!--<h:form>-->
                     <p:panelGrid columns="2" style="width: 100% !important;" >
                         <p:commandButton icon="ui-icon-check" value="#{messages['Absenden']}" actionListener="#{orderPasswordBean.getEmailfromUser()}" style="width: 100% !important;"/>
                         <p:button value="#{messages['Abbrechen']}" icon="ui-icon-close" onclick="PF('passwordNew').hide()" style="width: 100% !important;"/>
                     </p:panelGrid>
                 <!--</h:form>-->
            </p:panel>
          </h:form>
        </p:dialog> 
        </ui:composition>
     </h:body>
</html>
