<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* kann verwendet werde um sich die Einträge in der 
* Datenbank in einer Tabelle anzuschauen
* Verantwortlich: Andre Hantke
* Version 1.0
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">
    <h:head>
        <title> </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form id="form1">
            <p:commandButton value="Click" action="#{poiBean.loadData()}" update="lab"/>
            <!--<p:outputLabel id="lab" value="#{poiBean.street}"/>-->
            <p:separator/>
            <p:dataTable id="lab" var="POI" value="#{poiBean.liste}">
                <p:column headerText="ID">
                    <h:outputText value="#{POI.idPlaces}"/>
                </p:column>

                <p:column headerText="Type">
                    <h:outputText value="#{POI.type}"/>
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value="#{POI.name}"/>
                </p:column>

                <p:column headerText="Längengrad">
                    <h:outputText value="#{POI.longtitude}"/>
                </p:column>

                <p:column headerText="Breitengrad">
                    <h:outputText value="#{POI.latitude}"/>
                </p:column>

                <p:column headerText="Altitude">
                    <h:outputText value="#{POI.altitude}"/>
                </p:column>

                <p:column headerText="Strasse">
                    <h:outputText value="#{POI.street}"/>
                </p:column>

                <p:column headerText="PLZ">
                    <h:outputText value="#{POI.postalCode}"/>
                </p:column>

                <p:column headerText="Stadt">
                    <h:outputText value="#{POI.city}"/>
                </p:column>
            </p:dataTable>                      
        </h:form>     
    </h:body>
</html>
