<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 21.07.2014
* Registierung Dialog
* Verantwortlich: Andre Hantke
* ADDon: AJAX Feature - Ladebalken
* Version 0.5
* editiert: Claas Schlonsok: Behebung von Style-Fehler
********************************************************/
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
      
  <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
  <h:head>
        <title>WanderWIKI</title>
         <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>  
    </h:head>
    <h:body>
        <ui:composition>
        
        <p:dialog header="#{messages['Registrierung']}" widgetVar="regi" height="auto" closable="true">    
            <h:form>
                <p:panel>  
                  <p:messages id="regis_messages" showDetail="true" autoUpdate="true" />
                  <p:panelGrid columns="2" >
                     <p:outputLabel value="#{messages['Name']}"/>
                     <p:inputText value="#{registrationBean.name}" required="true" requiredMessage="#{messages['Nameneingabe']}">
                         <f:validateLength minimum="5" maximum="15"/>
                     </p:inputText>
                     
                     <p:outputLabel value="#{messages['Passwort']}" for="pwd"/>
                     <p:password id="pwd" value="#{registrationBean.pass}" required="true" requiredMessage="#{messages['Passeingabe']}" feedback="true" match="pwd2"/>
                     <p:outputLabel value="#{messages['Passwort2']}" for="pwd2"/>
                     <p:password id="pwd2" value="#{registrationBean.pass2}" requiredMessage="#{messages['Passeingabe2']}}" required="true"/>
                     
                     <p:outputLabel value="#{messages['Email']}"/>
                     <p:inputText value="#{registrationBean.email}" required="true" requiredMessage="#{messages['Emaileingabe']}">
                         <f:validateRegex pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" />
                     </p:inputText>
                     <p:outputLabel value="#{messages['Email2']}"/>
                     <p:inputText value="#{registrationBean.email2}" required="true" requiredMessage="#{messages['Emaileingabe2']}">
                         <f:validateRegex pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" />
                     </p:inputText>
                     
                 </p:panelGrid>               
                 <!--<h:form>-->
                     <p:captcha transient="false" id="cap" label="Captcha" validatorMessage="#{messages['captcha2']}" requiredMessage="#{messages['captcha1']}" theme="white"/>
                     <p:panelGrid columns="2" style="width: 100% !important;" >
                         <p:commandButton icon="ui-icon-check" value="#{messages['Absenden']}" action="#{registrationBean.registerUser()}" style="width: 100% !important;"/>
                         <p:button value="#{messages['Abbrechen']}" icon="ui-icon-close" onclick="PF('regi').hide()" style="width: 100% !important;"/>
                     </p:panelGrid>
                 <!--</h:form>-->
            </p:panel>
          </h:form>
        </p:dialog> 
        </ui:composition>
     </h:body>
</html>
