<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* Titel Header der Webseite (links oben)
* Wandern, Wander im westlichen Münsterland
* Verantwortlich: Andre Hantke
* Editiert: Claas Schlonsok
* Version 0.6
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">   
    
    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <h:head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>  
       
    </h:head>
    <h:body>
        <ui:composition>
            <p:panel style="border-color: transparent; height: 90px;">
                <p:graphicImage library="Images" value="/resources/Images/wapp_logo.png" height="40px"></p:graphicImage>
                <h:outputText value="#{messages['WanderWIKI']}" style="font-size: 24px;"/><br/>
                <h:outputText value="#{messages['Wandern']}" style="font-size: 18px;"/>
            </p:panel>
        </ui:composition>
    </h:body>

</html>
