<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* Hauptseite
*   ->   alles im Sinne von Templates entwickelt,
* Verantwortlich: Andre Hantkea
* Version 1.0
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <f:view>
        <h:head>
            <meta charset="utf-8"></meta>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
            <meta name="description" content=""></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      

        </h:head>    
        <h:body>
            <ui:composition template="/resources/template.xhtml">
               
                <ui:define name="log">
                    <ui:include src="#{loginBean.site}"/>
                </ui:define>

                <ui:define name="content">    
                    
                    <div align="center">
                        <h2><h:outputText value="#{messages['willkommen']}"/></h2>
                    </div>
                    <br></br>
                    <p:imageSwitch effect="shuffle" style="margin-left: auto; margin-right: auto; ">
                        <ui:repeat value="#{imageView.images}" var="image"  >
                            <p:graphicImage value="#{image}" alt="Bild naturex.jpg" style="width: 50% !important; height:100% !important; padding-left: 25%; padding-right: 25%;"/>
                        </ui:repeat>
                    </p:imageSwitch>           
                    
                </ui:define>

                    
            </ui:composition>                       
        </h:body>   
    </f:view> 
</html>


