<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************
* WanderApp
* Seite die angezeigt wird wenn der Benutzer für einen Request nicht
* berechtigt ist.
* Verantwortlich: Claas Schlonsok
********************************************************/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:basics="http://xmlns.jcp.org/jsf/composite/basics">
     <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
     <f:view>
        <h:head>
            <meta charset="utf-8"></meta>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
            <meta name="description" content=""></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      
          
        </h:head>    
     <h:body>
        <ui:composition template="/resources/template.xhtml">

            <ui:define name="content">
                <h3><p:outputLabel value="#{messages.seite_bitte_einloggen_0}" /></h3>
                <p:outputPanel >
                    
                    <p:outputLabel value="#{messages.seite_bitte_einloggen_1}"/>
                    <br/>
                    <p:outputLabel value="#{messages.seite_bitte_einloggen_2}"/>
                    <br/>
                    <p:outputLabel value="#{messages.seite_bitte_einloggen_3}"/>
                    <br/><br/>
                    <p:outputLabel value="#{messages.seite_bitte_einloggen_4}"/>
                    <br/>
                    <p:outputLabel value="#{messages.seite_bitte_einloggen_5}"/>
                </p:outputPanel>                
            </ui:define>           
        </ui:composition>
    </h:body>   
 </f:view> 
</html>