<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:basics="http://xmlns.jcp.org/jsf/composite/basics">
     <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
     <f:view>
        <h:head>
            <meta charset="utf-8"></meta>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
            <meta name="description" content=""></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      
          
        </h:head>    
     <h:body>
        <ui:composition template="/resources/template.xhtml">
             <ui:define name="log">
                <ui:include src="#{loginBean.site}"/>
            </ui:define>

            <ui:define name="content">
                <!--TODO:i18n -->
                <h3><p:outputLabel value="Vielen Dank für Ihre Registrierung!"/></h3>
                <p:outputPanel>
                    <p:outputLabel value="Ihr Zugang sollte in 5-10 Minuten freigeschaltet sein!
                    Sie erhalten außerdem eine Email mit ihren Zugangsdaten.
                    Bewahren Sie bitte ihr Zugangsdaten gut auf."/>
                    <br/>
                    <br/>
                    <p:outputLabel value="Viel Spaß auf WanderWiki !"/>
                    <br/>
                    <p:outputLabel value="Bei weiteren Fragen, steht Ihnen das Team von WanderWiki jederzeit zur Verfügung."/>
                </p:outputPanel>                
            </ui:define>           
        </ui:composition>
    </h:body>   
 </f:view> 
</html>