<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.03.2015
* vorlage für den Userbereich
* Verantwortlich: Claas Schlonsok
* Version 0.1
* editiert: Andre Hantke
********************************************************/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">
    <h:head>
        <title>vorlage USERs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="/resources/template.xhtml">
            <ui:define name="content"> 
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"/>
                <h2><h:outputText value="#{messages.menu_poi_karte}"/></h2>
                <h:form id="karten">
           
                    <m:map id="gmap_karte" binding="#{poiKarteBean.map}" autoReshape="true"/>
                    
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
