<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
/*******************************************************
* WanderApp
* erstellt am 13.02.2015
* Poi hinzufuegen 
* Verantwortlich: Claas Schlonsok
* Version 0.5
* editiert: Andre Hantke
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">

    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>

    <h:head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      

        <f:facet name="last">
            <h:outputStylesheet library="./css" name="main.css" />
            <h:outputStylesheet library="./css" name="menucss.css" />
        </f:facet>            
    </h:head>    
    <h:body>  
        <ui:composition template="/resources/template.xhtml">

            <ui:define name="content">   

                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"/>

                <h2><h:outputText value="#{messages.POI}"/></h2>

                <h:form id="poi_hinzu_wizard">
                    <p:wizard backLabel="#{messages.wizard_back}" nextLabel="#{messages.wizard_next}" widgetVar="wizard" >
                        <p:tab id="poi_allgemein" title="#{messages.wizard_header_poi_allgemein}" >
                            <p:panel header="#{messages.wizard_header_poi_allgemein}">
                                <h:panelGrid id="add_poi" columns="2" >


                                    <p:outputLabel value="#{messages.poi_name}" for="name"/>
                                    <p:inputText id="name" label="Name" required="true" value="#{poiBean.name}"/>



                                    <p:outputLabel value="#{messages.poi_strase}"  for="street"/>
                                    <p:inputText id="street" label="Straße"  required="true" value="#{poiBean.street}"/>

                                    <p:outputLabel value="#{messages.poi_plz}" for="plz"/>
                                    <p:inputText id="plz" label="PLZ" required="true" value="#{poiBean.plz}"/>

                                    <p:outputLabel value="#{messages.poi_ort}" for="city"/>
                                    <p:inputText id="city" label="Stadt" required="true" value="#{poiBean.city}"/>

                                    <p:outputLabel value="#{messages.poi_type}" for="type"/>


                                    <p:selectOneMenu id="type" label="Type"  value="#{poiBean.type}"  >
                                        
                                        <f:selectItem itemValue="abbey" itemLabel="#{messages.abbey}"/>
                                        <f:selectItem itemValue="bouddha" itemLabel="#{messages.bouddha}"/>
                                        <f:selectItem itemValue="cemetary" itemLabel="#{messages.cemetary}"/>
                                        <f:selectItem itemValue="chapel" itemLabel="#{messages.chapel}"/>
                                        <f:selectItem itemValue="church" itemLabel="#{messages.church}"/>
                                        <f:selectItem itemValue="convent" itemLabel="#{messages.convent}"/>
                                        <f:selectItem itemValue="cross" itemLabel="#{messages.cross}"/>
                                        <f:selectItem itemValue="graveyard" itemLabel="#{messages.graveyard}"/>
                                        <f:selectItem itemValue="headstone" itemLabel="#{messages.headstone}"/>
                                        <f:selectItem itemValue="japanese_temple" itemLabel="#{messages.japanese_temple}"/>
                                        <f:selectItem itemValue="jewish_graveyard" itemLabel="#{messages.jewish_graveyard}"/>
                                        <f:selectItem itemValue="monument" itemLabel="#{messages.monument}"/>
                                        <f:selectItem itemValue="mosquee" itemLabel="#{messages.mosquee}"/>
                                        <f:selectItem itemValue="prayer" itemLabel="#{messages.prayer}"/>
                                        <f:selectItem itemValue="star" itemLabel="#{messages.star}"/>
                                        <f:selectItem itemValue="statue" itemLabel="#{messages.statue}"/>
                                        <f:selectItem itemValue="synagogue" itemLabel="#{messages.synagogue}"/>
                                        <f:selectItem itemValue="templehindu" itemLabel="#{messages.templehindu}"/>
                                        <f:selectItem itemValue="theravadatemple" itemLabel="#{messages.theravadatemple}"/>
                                        
                                    </p:selectOneMenu>



                                </h:panelGrid>

                            </p:panel>

                        </p:tab>

                        <p:tab id="poi_karte" title="#{messages.wizard_header_poi_position}">
                            <p:panel header="#{messages.wizard_header_poi_position}"  >
                                <p:panelGrid columns="2"  layout="grid" >

                                    <p:panelGrid columns="1" layout="grid" >
                                        <m:map id="gmaps_karte" width="100%" height="550px"  latitude="51.96" longitude="7.615" partiallyTriggered="true" >

                                            <m:marker id="position" draggable="true" 
                                                      valueChangeListener="#{poiBean.legePunktFest}" >

                                                <m:icon imageURL="http://www.google.com/mapfiles/markerA.png"/>
                                                <m:htmlInformationWindow htmlText="#{messages.poi_neue_position}"/>

                                                <p:ajax update=":poi_hinzu_wizard:latitude, :poi_hinzu_wizard:longitude"/>

                                            </m:marker>



                                        </m:map>
                                    
                                    </p:panelGrid>
                                    <p:panelGrid columns="2" layout="grid"   >
                                        <p:outputLabel value="#{messages.poi_lat}" for="latitude"/>
                                        <p:inputText id="latitude" label="Latitude" required="true" value="#{poiBean.latitude}"  />


                                        <p:outputLabel value="#{messages.poi_long}" for="longitude"/>
                                        <p:inputText id="longitude" label="Longitude" required="true" value="#{poiBean.longitude}"/>

                                        <p:outputLabel value="#{messages.poi_alt}" for="altitude"/>
                                        <p:inputText id="altitude" label="Altitude" value="#{poiBean.altitude}"/>
                                    </p:panelGrid>



                                </p:panelGrid>


                            </p:panel>

                        </p:tab>


                        <p:tab id="poi_beschreibung" title="#{messages.wizard_header_poi_beschreibung}">
                            <p:panel header="#{messages.wizard_header_poi_beschreibung}">

                                
                                    <p:panel header="#{messages.beschreibung_neue_beschreibung}" style="margin-bottom:20px">
                                        <h:panelGrid columns="2" cellpadding="5">

                                            <h:outputLabel value="#{messages.beschreibung_sprache}:" for="sprache" ></h:outputLabel>
                                            <p:selectOneMenu id="sprache"  value="#{poiBean.beschreibung.language}" required="true" >
                                                <f:selectItem itemValue="de" itemLabel="#{messages.deutsch}" />
                                                <f:selectItem itemValue="en" itemLabel="#{messages.englisch}" />
                                            </p:selectOneMenu>
                <!--                            <p:inputText id="txt_title" value="#{poiBean.beschreibung.language}" required="true"/>-->


                                            <h:outputLabel value="#{messages.beschreibung_interessen}:" for="interessen" ></h:outputLabel>
                                            <p:selectOneMenu id="interessen" value="#{poiBean.beschreibung.interest}" required="true" >

                                                <f:selectItem itemValue="religiös" itemLabel="#{messages.religiös}" />
                                                <f:selectItem itemValue="historisch" itemLabel="#{messages.historisch}" />
                                                <f:selectItem itemValue="kulturell" itemLabel="#{messages.kulturell}" />
                                                <f:selectItem itemValue="geographisch" itemLabel="#{messages.geographisch}" />
                                                
                                            </p:selectOneMenu>
                                            <!--<p:inputText id="interessen" value="#{poiBean.beschreibung.interest}" required="true"/>-->

                                            <h:outputLabel value="#{messages.beschreibung_text}:" for="text"></h:outputLabel>
                                            <p:inputTextarea id="text" value="#{poiBean.beschreibung.text}" required="false"/>

                                            <!--TODO:reset prüfen-->
                                            <p:commandButton id="btn_reset" value="#{messages.beschreibung_reset}" type="reset"/>
                                            <p:commandButton id="btn_add" value="#{messages.beschreibung_add}" 
                                                             actionListener="#{poiBean.speicher_beschreibung_in_liste}" 
                                                             update=":poi_hinzu_wizard:add_beschreibung,:poi_hinzu_wizard:text, :poi_hinzu_wizard:interessen, :poi_hinzu_wizard:sprache" />
                                                             
<!--                                                <p:collector value="#{poiBean.beschreibung}" addTo="#{poiBean.beschreibung_liste}" unique="true"/>
                                            </p:commandButton>-->
                                        </h:panelGrid>
                                    </p:panel>

                                    <p:outputPanel id="add_beschreibung">
                                        <p:dataTable value="#{poiBean.beschreibung_liste}" var="beschreib" id="beschreibungTable" emptyMessage="#{messages.beschreibung_keine_eintrage}">

                                            <p:column headerText="#{messages.beschreibung_sprache}">
                                                <h:outputText value="#{beschreib.language}" />
                                            </p:column>

                                            <p:column headerText="#{messages.beschreibung_interessen}">

                                                <h:outputText value="#{beschreib.interest}" />
                                            </p:column>

                                            <p:column headerText="#{messages.beschreibung_text}">
                                                <h:outputText value="#{beschreib.text}" />
                                            </p:column>

                                            <p:column headerText="#{messages.beschreibung_aktion}">
                                                <p:commandLink value="#{messages.beschreibung_delete}" update=":poi_hinzu_wizard:add_beschreibung" 
                                                               process=":poi_hinzu_wizard:add_beschreibung">
                                                    <p:collector value="#{beschreib}" removeFrom="#{poiBean.beschreibung_liste}" unique="true"/>
                                                </p:commandLink>
                                            </p:column>

                                        </p:dataTable>
                                    </p:outputPanel>
                                
                                

                            </p:panel>

                        </p:tab>

                        <!--TODO: i18n im ganzen doc-->
                        <p:tab id="poi_erstellen" title="#{messages.wizard_header_poi_erstellen}">
                            <p:panel header="#{messages.wizard_header_poi_erstellen}">
                                <h:panelGrid columns="2">
                                    <p:outputLabel value="#{messages.poi_name}" for="name"/>
                                    <p:outputLabel  value="#{poiBean.name}"/>



                                    <p:outputLabel value="#{messages.poi_strase}"  for="street"/>
                                    <p:outputLabel value="#{poiBean.street}"/>

                                    <p:outputLabel value="#{messages.poi_plz}" for="plz"/>
                                    <p:outputLabel value="#{poiBean.plz}"/>

                                    <p:outputLabel value="#{messages.poi_ort}" for="city"/>
                                    <p:outputLabel value="#{poiBean.city}"/>

                                    <p:outputLabel value="#{messages.poi_type}" for="type"/>
                                    <p:outputLabel value="#{poiBean.type}" />


                                </h:panelGrid>
                                <br/>
                                <p:outputPanel >
                                    <p:dataTable value="#{poiBean.beschreibung_liste}" var="beschreib" emptyMessage="#{messages.beschreibung_keine_eintrage}">

                                        <p:column headerText="#{messages.beschreibung_sprache}">
                                            <h:outputText value="#{beschreib.language}" />
                                        </p:column>

                                        <p:column headerText="#{messages.beschreibung_interessen}">

                                            <h:outputText value="#{beschreib.interest}" />
                                        </p:column>

                                        <p:column headerText="#{messages.beschreibung_text}">
                                            <h:outputText value="#{beschreib.text}" />
                                        </p:column>



                                    </p:dataTable>
                                </p:outputPanel>
                                <br/>
                                <p:commandButton id="save" value="#{messages.poi_eintragen}" 
                                                 action="#{poiBean.persistiere()}" 
                                                 update=":poi_hinzu_wizard:" ajax='true'
                                                 oncomplete="PF('wizard').loadStep('poi_allgemein', false)"
                                                 
                                                 />
<!--                                                 oncomplete=="PF('wiz').loadStep('poi_allgemein', false)" -->
                                                 

                            </p:panel>

                        </p:tab>


                    </p:wizard>
                </h:form>






            </ui:define>
        </ui:composition>
    </h:body>


</html>