<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.04.2015
* Hier soll genau ein Poi und dessen commentare etc angezeigt werden
* Verantwortlich: Claas Schlonsok
* Version 0.1
* editiert: Andre Hantke
********************************************************/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Einen Poi anzeigen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body>
        <ui:composition template="/resources/template.xhtml">

            <ui:define name="content">                

                <f:metadata>
                    <!--Durch dieses setzten wird der POI selektiert und aus der DB gelesen-->
                    <f:viewParam name="poiId" value="#{poiKarteBean.nr}"  />
                </f:metadata>

                <div align="center">
                    
                    <!--ausgabe der Informationen zum dem selektierten POI-->
                    <h:form id="PlacesViewForm" rendered="#{!poiKarteBean.selected.isProposal}">
                        <h:panelGroup id="display">
                            <p:panelGrid columns="2">
                                
                                <p:outputLabel value="#{messages.poi_nr}" />
                                <p:outputLabel value="#{poiKarteBean.nr}" />
                                
                                <p:outputLabel value="#{messages.poi_name}" />
                                <p:outputLabel value="#{poiKarteBean.selected.name}"/>
                                
                                <p:outputLabel value="#{messages.poi_datum}" />
                                <p:outputLabel value="#{poiKarteBean.selected.dateAdded}">
                                    <f:convertDateTime type="both" dateStyle="default" timeStyle="default" timeZone="Europe/Berlin"/>
                                </p:outputLabel>
                                
                                <p:outputLabel value="#{messages.poi_anschrift}" />
                                <p:outputLabel value="#{poiKarteBean.selected.street}"/>
                                
                                <p:outputLabel value="#{messages.poi_ort}" />
                                <p:outputLabel value="#{poiKarteBean.selected.postalCode} #{poiKarteBean.selected.city}"/>
                                
                                <p:outputLabel value="#{messages.poi_opening}" />
                                <p:outputLabel value="#{poiKarteBean.selected.openTimes}"/>
                                
                              
                                <p:button outcome="/users/pois/poi_karte.xhtml" value="#{messages.zurueck_zur_karte}"  />
                                <p:commandButton onclick="PF('CommentsCreateDialog').show()" value="#{messages.kommentar_erstellen}" />
                                
                            </p:panelGrid>
                            
                            <p:accordionPanel value="#{poiKarteBean.selected_des}" var="desc">
                                <p:tab title="#{desc.language} - #{desc.interest}">
                                    <p:outputLabel value ="#{desc.text}"/>
                                </p:tab>
                            
                            </p:accordionPanel>

                            <!-- dialog zum kommentar hinzufügen -->
                            <p:dialog id="CommentsCreateDlg" widgetVar="CommentsCreateDialog" modal="true" resizable="false" >
                                
                                    <h:panelGroup id="dialog">
                                        <p:panelGrid columns="2" >
                                           <h:outputText value="#{messages.kommentar_neu_obj}" ></h:outputText>
                                           <h:outputText value="#{poiKarteBean.selected.name}"></h:outputText>
                                           
                                           <h:outputText value="#{messages.kommentar_neu_kommentar}"/>
                                           <h:inputTextarea id="kommentar_text" value="#{poiKarteBean.neuer_kommentar.text}"></h:inputTextarea>
                                           
                                      
                                          
                                           <h:outputText value="#{messages.kommentar_neu_bewert}"/>
                                           <p:rating  id="kommentar_bewertung" value="#{poiKarteBean.neuer_kommentar.rating}"/>
                                           
                                        </p:panelGrid>
                                        
                                        <p:commandButton value="#{messages.kommentar_neu_speichern}" actionListener="#{poiKarteBean.speicher_neuen_kommentar()}" 
                                                         oncomplete="PF('CommentsCreateDialog').hide()" update="kommentare, kommentar_text, kommentar_bewertung"/>
                                       
                                        <p:commandButton value="#{messages.kommentar_neu_cancel}" onclick="PF('CommentsCreateDialog').hide()"/>
                                    </h:panelGroup>
                                
                            </p:dialog>



                            <!--//kommentare auflisten-->
                            <p:dataScroller value="#{poiKarteBean.selected.commentsList}" var="kommentar" chunkSize="10" mode="inline" scrollHeight="500" id="kommentare">
                                <f:facet name="header">
                                    #{messages.mehr_kommentare}
                                </f:facet>

                                <h:panelGrid style="width:100%" columns="2" border="1" >


                                    <p:outputPanel style="width: 200px">
                                        <h:panelGrid columns="2" cellpadding="5">



                                            <h:outputText value="#{messages.komm_id}" />
                                            <h:outputText value="#{kommentar.idComments}" style="font-weight: bold"/>



                                            <h:outputText value="#{messages.komm_datum}" />
                                            <h:outputText value="#{kommentar.time}" style="font-weight: bold">
                                                <f:convertDateTime type="both" dateStyle="default" timeStyle="default" timeZone="Europe/Berlin"/>
                                            </h:outputText>




                                            <h:outputText value="#{messages.komm_user}" />
                                            <h:outputText value="#{kommentar.idUser}" style="font-weight: bold"/>



                                            <h:outputText value="#{messages.komm_bewert}" />
                                            <p:rating value="#{kommentar.rating}" readonly="true" />

                                        </h:panelGrid>
                                    </p:outputPanel>


                                    <p:outputPanel>

                                        <h:outputText value="#{messages.komm_komm}" />
                                        <h:outputText value="#{kommentar.text}" style="font-weight: bold" />






                                    </p:outputPanel>


                                </h:panelGrid>



                            </p:dataScroller>


                        </h:panelGroup>
                    </h:form>

                </div>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
