<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
/*******************************************************
* WanderApp
* erstellt am 13.02.2015
* Poi hinzufuegen 
* Verantwortlich: Claas Schlonsok
* Version 0.5
* editiert: Andre Hantke
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">

    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>

    <h:head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      

        <f:facet name="last">
            <h:outputStylesheet library="./css" name="main.css" />
            <h:outputStylesheet library="./css" name="menucss.css" />
        </f:facet>            
    </h:head>    
    <h:body>  
        <ui:composition template="/resources/template.xhtml">
            
            <ui:define name="content">   
                
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"/>

                <h2>BITTE DEN WIZARD BENUTZEN!! <h:outputText value="#{messages.POI}"/></h2>
                <h:form id="form">
                    <h:panelGrid id="add_poi" columns="2" >


                        <p:outputLabel value="#{messages.poi_name}" for="name"/>
                        <p:inputText id="name" requiredMessage="Geb bitte den Namen des Punktes an" label="Name" required="true" value="#{poiBean.name}"/>

                        <p:outputLabel value=" " />
                        <p:commandButton value="#{messages.poi_karte}" type="button" onclick="PF('dialog_karte').show();" />

                        <p:outputLabel value="#{messages.poi_lat}" for="latitude"/>
                        <p:inputText id="latitude" label="Latitude" required="true" value="#{poiBean.latitude}"  />


                        <p:outputLabel value="#{messages.poi_long}" for="longitude"/>
                        <p:inputText id="longitude" label="Longitude" required="true" value="#{poiBean.longitude}"/>

                        <p:outputLabel value="#{messages.poi_alt}" for="altitude"/>
                        <p:inputText id="altitude" label="Altitude" value="#{poiBean.altitude}"/>

                        <p:outputLabel value="#{messages.poi_strase}"  for="street"/>
                        <p:inputText id="street" label="Straße"  required="true" value="#{poiBean.street}"/>

                        <p:outputLabel value="#{messages.poi_plz}" for="plz"/>
                        <p:inputText id="plz" label="PLZ" required="true" value="#{poiBean.plz}"/>

                        <p:outputLabel value="#{messages.poi_ort}" for="city"/>
                        <p:inputText id="city" label="Stadt" required="true" value="#{poiBean.city}"/>

                        <p:outputLabel value="#{messages.poi_type}" for="type"/>


                        <p:selectOneMenu id="type" label="Type"  value="#{poiBean.type}" >

                            <f:selectItems value="#{poiBean.moegliche_type}" />
                        </p:selectOneMenu>
                    </h:panelGrid>

                    <p:commandButton id="save" value="#{messages.poi_eintragen}" action="#{poiBean.persistiere()}" update="name,street, :besch_form:add_beschreibung, :besch_form: "/>

                    <!--                                dialog deaktiviert da es probleme bei der gmaps darstellung gibt-->
                    <p:dialog id="dialog_karte" widgetVar="dialog_karte" modal="false" >
                        <!--<p:outputLabel value="Bite punkt selektieren"/>-->
                        <!--<p:panel id="karte">-->
                        <m:map id="gmaps_karte" width="800px" height="550px"  latitude="51.96" longitude="7.615" >

                            <m:marker id="position" draggable="true" 
                                      valueChangeListener="#{poiBean.legePunktFest}" >

                                <m:icon imageURL="http://www.google.com/mapfiles/markerA.png"/>
                                <m:htmlInformationWindow htmlText="#{messages.poi_neue_position}"/>

                                <p:ajax update="latitude,longitude"/>

                            </m:marker>



                        </m:map>
                        <!--</p:panel>--> 
                    </p:dialog>

                </h:form>
                <!--START des collectors-->
                <h:form id="besch_form">
                    <p:panel header="#{messages.beschreibung_neue_beschreibung}" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="5">

                            <h:outputLabel value="#{messages.beschreibung_sprache}:" for="sprache" ></h:outputLabel>
                            <p:selectOneMenu id="sprache"  value="#{poiBean.beschreibung.language}" required="true" >
                                <f:selectItem itemValue="de" itemLabel="Deutsch" />
                                <f:selectItem itemValue="en" itemLabel="Englisch" />
                            </p:selectOneMenu>
<!--                            <p:inputText id="txt_title" value="#{poiBean.beschreibung.language}" required="true"/>-->


                            <h:outputLabel value="#{messages.beschreibung_interessen}:" for="interessen" ></h:outputLabel>
                            <p:selectOneMenu id="interessen" value="#{poiBean.beschreibung.interest}" required="true" >

                                <f:selectItem itemValue="religiös" itemLabel="religiös" />
                                <f:selectItem itemValue="historisch" itemLabel="historisch" />
                                <f:selectItem itemValue="kulturel" itemLabel="kulturel" />
                            </p:selectOneMenu>
                            <!--<p:inputText id="interessen" value="#{poiBean.beschreibung.interest}" required="true"/>-->

                            <h:outputLabel value="#{messages.beschreibung_text}:" for="text"></h:outputLabel>
                            <p:inputTextarea id="text" value="#{poiBean.beschreibung.text}" required="true"/>

                            <p:commandButton id="btn_reset" value="#{messages.beschreibung_reset}" type="reset"/>
                            <p:commandButton id="btn_add" value="#{messages.beschreibung_add}" update="add_beschreibung @parent" action="#{poiBean.leere_neue_beschreibung()}" >
                                <p:collector value="#{poiBean.beschreibung}" addTo="#{poiBean.beschreibung_liste}" unique="false"/>
                            </p:commandButton>
                        </h:panelGrid>
                    </p:panel>

                    <p:outputPanel id="add_beschreibung">
                        <p:dataTable value="#{poiBean.beschreibung_liste}" var="beschreib" id="beschreibungTable" emptyMessage="#{messages.beschreibung_keine_eintrage}">

                            <p:column headerText="#{messages.beschreibung_sprache}">
                                <h:outputText value="#{beschreib.language}" />
                            </p:column>

                            <p:column headerText="#{messages.beschreibung_interessen}">

                                <h:outputText value="#{beschreib.interest}" />
                            </p:column>

                            <p:column headerText="#{messages.beschreibung_text}">
                                <h:outputText value="#{beschreib.text}" />
                            </p:column>

                            <p:column headerText="#{messages.beschreibung_aktion}">
                                <p:commandLink value="#{messages.beschreibung_delete}" update=":besch_form:add_beschreibung" process=":besch_form:add_beschreibung">
                                    <p:collector value="#{beschreib}" removeFrom="#{poiBean.beschreibung_liste}" unique="false"/>
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>
                    </p:outputPanel>





                </h:form>


            
            </ui:define>
        </ui:composition>
    </h:body>


</html>