<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.03.2015
* Index für den Adminbereich
* Verantwortlich: Claas Schlonsok
* Version 0.1
********************************************************/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>ADMINbereich</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="/resources/template.xhtml">
            <ui:define name="content">                
                <div align="center">
                    
                 <h2><h:outputText value="#{messages.Admin_willkommen}"/></h2>
                 <h:outputText value="#{messages.Admin_index}"></h:outputText>
              
                </div>
                    <p:button outcome="/admin/comments/List" value="#{messages.Admin_Kommentare}"/>
            
                    <br />
                   
                    <p:button outcome="/admin/descriptions/List" value="#{messages.Admin_Beschreibung}"/>
                    <br />
                    <p:button outcome="/admin/multimedia/List" value="#{messages.Admin_Multimedia}"/>
                    <br />
                    <p:button outcome="/admin/places/List" value="#{messages.Admin_Places}"/>
                    <br />
                    <p:button outcome="/admin/places_proposal/List" value="P#{messages.Admin_Places_propo}"/>
                    <br />
                    <p:button outcome="/admin/placesroutes/List" value="#{messages.Admin_Placesroutes}"/>
                    <br />
                    <p:button outcome="/admin/questions/List" value="#{messages.Admin_Fragen}"/>
                    <br />
                    <p:button outcome="/admin/routepoints/List" value="#{messages.Admin_Routepoints}"/>
                    <br />
                    <p:button outcome="/admin/routes/List" value="#{messages.Admin_Routes}"/>
                    <br />
                    <p:button outcome="/admin/searches/List" value="#{messages.Admin_Searches}"/>
                    <br />
                    <p:button outcome="/admin/todos/List" value="#{messages.Admin_Todos}"/>
                    <br />
                    <p:button outcome="/admin/users/List" value="#{messages.Admin_Benutzer}"/>
            
            </ui:define>

        </ui:composition>
    </body>
</html>
