<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PlacesroutesEditDlg" widgetVar="PlacesroutesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditPlacesroutesTitle}">
            <h:form id="PlacesroutesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{placesroutesController.selected != null}">
                        <p:outputLabel value="#{messages.EditPlacesroutesLabel_idPlacesRoutes}" for="idPlacesRoutes" />
                        <p:inputText id="idPlacesRoutes" value="#{placesroutesController.selected.idPlacesRoutes}" title="#{messages.EditPlacesroutesTitle_idPlacesRoutes}"  disabled="true" required="true" requiredMessage="#{messages.EditPlacesroutesRequiredMessage_idPlacesRoutes}"/>
                        <p:outputLabel value="#{messages.EditPlacesroutesLabel_idRoute}" for="idRoute" />
                        <p:selectOneMenu id="idRoute" value="#{placesroutesController.selected.idRoute}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{routesController.itemsAvailableSelectOne}"
                                           var="idRouteItem"
                                           itemValue="#{idRouteItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.EditPlacesroutesLabel_idPlace}" for="idPlace" />
                        <p:selectOneMenu id="idPlace" value="#{placesroutesController.selected.idPlace}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{placesController.itemsAvailableSelectOne}"
                                           var="idPlaceItem"
                                           itemValue="#{idPlaceItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{placesroutesController.update}" value="#{messages.Save}" update="display,:PlacesroutesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PlacesroutesEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="PlacesroutesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
