<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/template.xhtml">

        <ui:define name="imheader">
          
            <!--<h:outputStylesheet name="./css/jsfcrud.css" />-->
            <h:outputScript name="./css/jsfcrud.js"  target="head" />

        </ui:define>

        <ui:define name="content">
            <h:form id="PlacesroutesListForm">
                <p:panel >
                    <p:dataTable id="datalist" value="#{placesroutesController.items}" var="item"
                                 selectionMode="single" selection="#{placesroutesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idPlacesRoutes}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesroutesTitle_idPlacesRoutes}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPlacesRoutes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesroutesTitle_idRoute}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRoute}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesroutesTitle_idPlace}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPlace}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{messages.Create}" actionListener="#{placesroutesController.prepareCreate}" update=":PlacesroutesCreateForm" oncomplete="PF('PlacesroutesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{messages.View}" update=":PlacesroutesViewForm" oncomplete="PF('PlacesroutesViewDialog').show()" disabled="#{empty placesroutesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{messages.Edit}" update=":PlacesroutesEditForm" oncomplete="PF('PlacesroutesEditDialog').show()" disabled="#{empty placesroutesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{messages.Delete}" actionListener="#{placesroutesController.destroy}" update=":growl,datalist" disabled="#{empty placesroutesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
