<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PlacesroutesViewDlg" widgetVar="PlacesroutesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewPlacesroutesTitle}">
            <h:form id="PlacesroutesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{placesroutesController.selected != null}">
                        <h:outputText value="#{messages.ViewPlacesroutesLabel_idPlacesRoutes}"/>
                        <h:outputText value="#{placesroutesController.selected.idPlacesRoutes}" title="#{messages.ViewPlacesroutesTitle_idPlacesRoutes}"/>
                        <h:outputText value="#{messages.ViewPlacesroutesLabel_idRoute}"/>
                        <h:outputText value="#{placesroutesController.selected.idRoute}" title="#{messages.ViewPlacesroutesTitle_idRoute}"/>
                        <h:outputText value="#{messages.ViewPlacesroutesLabel_idPlace}"/>
                        <h:outputText value="#{placesroutesController.selected.idPlace}" title="#{messages.ViewPlacesroutesTitle_idPlace}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="PlacesroutesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
