<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PlacesCreateDlg" widgetVar="PlacesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.CreatePlacesTitle}">
            <h:form id="PlacesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{placesController.selected != null}">
                        <p:outputLabel value="#{messages.CreatePlacesLabel_idPlaces}" for="idPlaces" />
                        <p:inputText id="idPlaces" value="#{placesController.selected.idPlaces}" title="#{messages.CreatePlacesTitle_idPlaces}" disabled="true" required="false" requiredMessage="#{messages.CreatePlacesRequiredMessage_idPlaces}"/>
                        <p:outputLabel value="#{messages.CreatePlacesLabel_altitude}" for="altitude" />
                        <p:inputText id="altitude" value="#{placesController.selected.altitude}" title="#{messages.CreatePlacesTitle_altitude}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_city}" for="city" />
                        <p:inputText id="city" value="#{placesController.selected.city}" title="#{messages.CreatePlacesTitle_city}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_dateAdded}" for="dateAdded" />
                        <p:calendar id="dateAdded" pattern="MM/dd/yyyy HH:mm:ss" value="#{placesController.selected.dateAdded}" title="#{messages.EditPlacesTitle_dateAdded}"  showOn="button"/>
                        <p:outputLabel value="#{messages.CreatePlacesLabel_idChanging}" for="idChanging" />
                        <p:inputText id="idChanging" value="#{placesController.selected.idChanging}" title="#{messages.CreatePlacesTitle_idChanging}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_isChange}" for="isChange" />
                        <p:selectBooleanCheckbox id="isChange" value="#{placesController.selected.isChange}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_isProposal}" for="isProposal" />
                        <p:selectBooleanCheckbox id="isProposal" value="#{placesController.selected.isProposal}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_latitude}" for="latitude" />
                        <p:inputText id="latitude" value="#{placesController.selected.latitude}" title="#{messages.CreatePlacesTitle_latitude}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_longtitude}" for="longtitude" />
                        <p:inputText id="longtitude" value="#{placesController.selected.longitude}" title="#{messages.CreatePlacesTitle_longtitude}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_name}" for="name" />
                        <p:inputText id="name" value="#{placesController.selected.name}" title="#{messages.CreatePlacesTitle_name}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_openTimes}" for="openTimes" />
                        <p:inputTextarea rows="4" cols="30" id="openTimes" value="#{placesController.selected.openTimes}" title="#{messages.CreatePlacesTitle_openTimes}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_postalCode}" for="postalCode" />
                        <p:inputText id="postalCode" value="#{placesController.selected.postalCode}" title="#{messages.CreatePlacesTitle_postalCode}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_size}" for="size" />
                        <p:inputText id="size" value="#{placesController.selected.size}" title="#{messages.CreatePlacesTitle_size}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_street}" for="street" />
                        <p:inputText id="street" value="#{placesController.selected.street}" title="#{messages.CreatePlacesTitle_street}" />
                        <p:outputLabel value="#{messages.CreatePlacesLabel_type}" for="type" />
                        <p:inputText id="type" value="#{placesController.selected.type}" title="#{messages.CreatePlacesTitle_type}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{placesController.create}" value="#{messages.Save}" update="display,:PlacesListForm:datalist,:growl" oncomplete="handleSubmit(args,'PlacesCreateDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="PlacesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
