<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* Map-Seite
* Verantwortlich: Andre Hantke
* Version 0.5
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">

    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <f:view>
        <h:head>
            <meta charset="utf-8"></meta>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
            <meta name="description" content=""></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      
        </h:head>    
        
        <h:body>
        <ui:composition template="/resources/template.xhtml">
   
            <ui:define name="log">
                <ui:include src="#{loginBean.site}"/>
            </ui:define>

            <ui:define name="content">                
                <ui:include src="/resources/basics/mapcard.xhtml"/>
            </ui:define>
                    
        </ui:composition>
    </h:body>   
   </f:view> 
</html>

