<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
/*******************************************************
* WanderApp
* erstellt am 13.02.2015
* Poi hinzufuegen 
* Verantwortlich: Claas Schlonsok
* Version 0.5
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">

    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>

    <h:head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      

        <f:facet name="last">
            <h:outputStylesheet library="./css" name="main.css" />
            <h:outputStylesheet library="./css" name="menucss.css" />
        </f:facet>            
    </h:head>    
    <h:body>  
        <ui:composition template="/resources/template.xhtml">
            <ui:define name="content">   
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"/>
                <p:tabView>

                    <p:tab title="Poi erstellen" >
                        <h2><h:outputText value="Poi erstellen"/></h2>
                        <h:form id="form">
                            <h:panelGrid id="add_poi" columns="2" >


                                <p:outputLabel value="Name:" for="name"/>
                                <p:inputText id="name" requiredMessage="Geb bitte den Namen des Punktes an" label="Name" required="true" value="#{poiBean.name}"/>

                                <p:outputLabel value=" " />
                                <p:commandButton value="Karte" type="button" onclick="PF('dia').show();" />

                                <p:outputLabel value="latitude:" for="latitude"/>
                                <p:inputText id="latitude" label="Latitude" required="true" value="#{poiBean.latitude}"  />


                                <p:outputLabel value="longitude:" for="longitude"/>
                                <p:inputText id="longitude" label="Longitude" required="true" value="#{poiBean.longitude}"/>

                                <p:outputLabel value="altitude:" for="altitude"/>
                                <p:inputText id="altitude" label="Altitude" value="#{poiBean.altitude}"/>

                                <p:outputLabel value="street:"  for="street"/>
                                <p:inputText id="street" label="Straße"  required="true" value="#{poiBean.street}"/>

                                <p:outputLabel value="plz:" for="plz"/>
                                <p:inputText id="plz" label="PLZ" required="true" value="#{poiBean.plz}"/>

                                <p:outputLabel value="Stadt" for="city"/>
                                <p:inputText id="city" label="Stadt" required="true" value="#{poiBean.city}"/>

                                <p:outputLabel value="type:" for="type"/>


                                <p:selectOneMenu id="type" label="Type"  value="#{poiBean.type}" >
                                    
                                    <f:selectItems value="#{poiBean.moegliche_type}"/>
                                </p:selectOneMenu>
                                
                                <p:commandButton id="save" value="Eintragen" action="#{poiBean.persistiere()}"/>


                                <p:dialog id="dia" widgetVar="dia" modal="true" closeOnEscape="true">
                                    <!--<p:panel id="karte">-->
                                    <m:map id="gmaps_karte" width="800px" height="550px"  partiallyTriggered="true" latitude="51.96" longitude="7.615" >

                                        <m:marker id="position" draggable="true" 
                                                  valueChangeListener="#{poiBean.legePunktFest}" 
                                                  >

                                            <m:icon imageURL="http://www.google.com/mapfiles/markerA.png"/>
                                            <m:htmlInformationWindow htmlText="Position des neuen POIs"/>

                                            <p:ajax update="latitude,longitude"/>

                                        </m:marker>



                                    </m:map>
                                    <!--</p:panel>--> 
                                </p:dialog>

                            </h:panelGrid>
                        </h:form>


                    </p:tab>



                    <p:tab title="Poi ausgeben">
                        <h2><h:outputText value="Poi ausgeben"/></h2>
                        <h:form id="ausgaben">
                            <h:panelGrid id="add_poi" columns="2">

                                <p:outputLabel value="ID:" for="ausgabe_id"/>
                                <p:inputText id="ausgabe_id" label="ID" required="true" value="#{poiBean.ID}"/>

                                <p:commandButton id="ausgeben" update="poi_namen_ausgabe" value="Eintragen" action="#{poiBean.lade_user()}" />
                                <p:outputLabel id="poi_namen_ausgabe" value="-#{poiBean.name}-" ></p:outputLabel>
                            </h:panelGrid>
                        </h:form>
                    </p:tab>



                    <p:tab title="Poi Karte">

                        <p:commandButton value="Setzen" type="button" onclick="PF('dlg1').show()" />

                        <p:dialog header="Basic Dialog" widgetVar="dlg1" minHeight="40">
                            <h:form>
                                <h:outputText value="Resistance to PrimeFaces is futile!" />
                                <h:outputText value="Resistance to PrimeFaces is futile!" />
                                <p:commandButton value="absch" action="#{poiBean.lade_user}" />
                            </h:form>
                            <h:outputText value="Resistance to PrimeFaces is futile!" />


                        </p:dialog>


                    </p:tab>




                </p:tabView>

            </ui:define>
        </ui:composition>
    </h:body>


</html>