<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
/*******************************************************
* WanderApp
* erstellt am 08.06.2014
* WIKI Seite
* Verantwortlich: Andre Hantke
* Version 0.5
********************************************************/-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>
    <f:view>
        <h:head>
             
        </h:head>    
    <h:body> 
        <ui:composition template="resources/template.xhtml">
            <ui:define name="log">
                <ui:include src="#{loginBean.site}"/>
            </ui:define>

            <ui:define name="content">
                <ui:include src="resources/basics/POIDatatable.xhtml"/>
                
         <!--     <h2><h:outputText value="#{messages['willkommen']}"/></h2>
            <br></br>
            <h2><h:outputText value="#{messages['Wiki']}"/></h2>
                    <br></br>
                    Auf dieser Seite werden in Zukunft alle informationen angezeigt,
                    die sich auch in der Datenbank befinden. 
                    
                    Also ein erster Versuch je nach Abhängigkeit, wer sich eingelogged hat,
                    soll die Komponente angezeigt werden oder nicht:
                    Also let's see:
                    
                    Panel mit 'ner ganzen Menge:
                    Durch die Nutzung des render Option kann die Komponente angezeigt werden, oder nicht!
                    Wichtig ist, dass die Bean funktioniert!
                    
                    <h:form>
                        <p:panel>
                            <p:panelGrid columns="6">
                                <p:outputLabel value="Name"/>
                                <p:inputText/>
                                <p:outputLabel value="Text"/>
                                <p:button icon="ui-icon-check"/>
                                <p:button icon="ui-icon-closethick" rendered="#{loginBean.name.equals('webmaster')}"/>
                            </p:panelGrid>  
                        </p:panel>
                    </h:form>     -->            
            </ui:define>          
        </ui:composition>
      </h:body>   
   </f:view> 
</html>
