
#top {
    position: relative;
    background-color: #28a2a2;
    color: white;
    padding: 5px;
    margin: 0px 2% 10px 2%;
}

#bottom {
    position: relative;
    background-color: #28a2a2;
    padding: 5px;
    margin: 10px 2% 0px 2%;
}

/*#left {
    float: left;
    background-color: #ffffff;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ffffff;
    padding: 5px;
    width: 150px;
}*/

.center_content {
    position: relative;
    background-color: #28a2a2;
    padding: 5px;
    /*height: 800px !important;*/
}

.left_area {
    background-color: #28a2a2;
    padding: 5px;
    /*margin-right: 5px;*/
    margin-left: 2%;
    /*float: left;*/
    min-height: 625px;
    /*height: 625px;*/
}

.content {
    background-color: #28a2a2;
    padding: 5px;
    margin: 0px 2% 0px 2%;
    min-height: 625px;
    /*height: 625px;*/
}

/*.right_area {
    background-color: #28a2a2;
    padding: 5px;
    margin-right: 2%;
    min-height: 625px;
    height: 625px;
}*/

#top a:link, #top a:visited {
  color: #28a2a2;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}




