<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersCreateDlg" widgetVar="UsersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.CreateUsersTitle}">
            <h:form id="UsersCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                        <p:outputLabel value="#{messages.CreateUsersLabel_userid}" for="userid" />
                        <p:inputText disabled="true" id="userid" value="#{usersController.selected.userid}" title="#{messages.CreateUsersTitle_userid}"  requiredMessage="#{messages.CreateUsersRequiredMessage_userid}"/>
                        <p:outputLabel value="#{messages.CreateUsersLabel_bigfont}" for="bigfont" />
                        <p:selectBooleanCheckbox id="bigfont" value="#{usersController.selected.bigfont}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_email}" for="email" />
                        <p:inputText id="email" value="#{usersController.selected.email}" title="#{messages.CreateUsersTitle_email}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_interest}" for="interest" />
                        <p:inputText id="interest" value="#{usersController.selected.interest}" title="#{messages.CreateUsersTitle_interest}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_language}" for="language" />
                        <p:inputText id="language" value="#{usersController.selected.language}" title="#{messages.CreateUsersTitle_language}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_name}" for="name" />
                        <p:inputText id="name" value="#{usersController.selected.name}" title="#{messages.CreateUsersTitle_name}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_passwordHash}" for="passwordHash" />
                        <p:inputText id="passwordHash" value="#{usersController.selected.passwordHash}" title="#{messages.CreateUsersTitle_passwordHash}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_userlevel}" for="userlevel" />
                        <p:inputText id="userlevel" value="#{usersController.selected.userlevel}" title="#{messages.CreateUsersTitle_userlevel}" required="true" requiredMessage="#{messages.CreateUsersRequiredMessage_userlevel}"/>
                        <p:outputLabel value="#{messages.CreateUsersLabel_verificated}" for="verificated" />
                        <p:selectBooleanCheckbox id="verificated" value="#{usersController.selected.verificated}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_walkingSpeed}" for="walkingSpeed" />
                        <p:inputText id="walkingSpeed" value="#{usersController.selected.walkingSpeed}" title="#{messages.CreateUsersTitle_walkingSpeed}" />
                        <p:outputLabel value="#{messages.CreateUsersLabel_wheelchair}" for="wheelchair" />
                        <p:selectBooleanCheckbox id="wheelchair" value="#{usersController.selected.wheelchair}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersController.create}" value="#{messages.Save}" update="display,:UsersListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsersCreateDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="UsersCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
