<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersEditDlg" widgetVar="UsersEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditUsersTitle}">
            <h:form id="UsersEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                        <p:outputLabel value="#{messages.EditUsersLabel_userid}" for="userid" />
                        <p:inputText id="userid" value="#{usersController.selected.userid}" title="#{messages.EditUsersTitle_userid}"  disabled="true" required="true" requiredMessage="#{messages.EditUsersRequiredMessage_userid}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_bigfont}" for="bigfont" />
                        <p:selectBooleanCheckbox id="bigfont" value="#{usersController.selected.bigfont}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_email}" for="email" />
                        <p:inputText id="email" value="#{usersController.selected.email}" title="#{messages.EditUsersTitle_email}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_interest}" for="interest" />
                        <p:inputText id="interest" value="#{usersController.selected.interest}" title="#{messages.EditUsersTitle_interest}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_language}" for="language" />
                        <p:inputText id="language" value="#{usersController.selected.language}" title="#{messages.EditUsersTitle_language}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_name}" for="name" />
                        <p:inputText id="name" value="#{usersController.selected.name}" title="#{messages.EditUsersTitle_name}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_passwordHash}" for="passwordHash" />
                        <p:inputText id="passwordHash" value="#{usersController.selected.passwordHash}" title="#{messages.EditUsersTitle_passwordHash}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_userlevel}" for="userlevel" />
                        <p:inputText id="userlevel" value="#{usersController.selected.userlevel}" title="#{messages.EditUsersTitle_userlevel}" required="true" requiredMessage="#{messages.EditUsersRequiredMessage_userlevel}"/>
                        <p:outputLabel value="#{messages.EditUsersLabel_verificated}" for="verificated" />
                        <p:selectBooleanCheckbox id="verificated" value="#{usersController.selected.verificated}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_walkingSpeed}" for="walkingSpeed" />
                        <p:inputText id="walkingSpeed" value="#{usersController.selected.walkingSpeed}" title="#{messages.EditUsersTitle_walkingSpeed}" />
                        <p:outputLabel value="#{messages.EditUsersLabel_wheelchair}" for="wheelchair" />
                        <p:selectBooleanCheckbox id="wheelchair" value="#{usersController.selected.wheelchair}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersController.update}" value="#{messages.Save}" update="display,:UsersListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsersEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="UsersEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
