<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersViewDlg" widgetVar="UsersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewUsersTitle}">
            <h:form id="UsersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                        <h:outputText value="#{messages.ViewUsersLabel_userid}"/>
                        <h:outputText value="#{usersController.selected.userid}" title="#{messages.ViewUsersTitle_userid}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_bigfont}"/>
                        <p:selectBooleanCheckbox value="#{usersController.selected.bigfont}" disabled="true"/>
                        <h:outputText value="#{messages.ViewUsersLabel_email}"/>
                        <h:outputText value="#{usersController.selected.email}" title="#{messages.ViewUsersTitle_email}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_interest}"/>
                        <h:outputText value="#{usersController.selected.interest}" title="#{messages.ViewUsersTitle_interest}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_language}"/>
                        <h:outputText value="#{usersController.selected.language}" title="#{messages.ViewUsersTitle_language}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_name}"/>
                        <h:outputText value="#{usersController.selected.name}" title="#{messages.ViewUsersTitle_name}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_passwordHash}"/>
                        <h:outputText value="#{usersController.selected.passwordHash}" title="#{messages.ViewUsersTitle_passwordHash}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_userlevel}"/>
                        <h:outputText value="#{usersController.selected.userlevel}" title="#{messages.ViewUsersTitle_userlevel}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_verificated}"/>
                        <p:selectBooleanCheckbox value="#{usersController.selected.verificated}" disabled="true"/>
                        <h:outputText value="#{messages.ViewUsersLabel_walkingSpeed}"/>
                        <h:outputText value="#{usersController.selected.walkingSpeed}" title="#{messages.ViewUsersTitle_walkingSpeed}"/>
                        <h:outputText value="#{messages.ViewUsersLabel_wheelchair}"/>
                        <p:selectBooleanCheckbox value="#{usersController.selected.wheelchair}" disabled="true"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="UsersViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
