<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="QuestionsCreateDlg" widgetVar="QuestionsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.CreateQuestionsTitle}">
            <h:form id="QuestionsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{questionsController.selected != null}">
                        <p:outputLabel value="#{messages.CreateQuestionsLabel_idquestions}" for="idquestions" />
                        <p:inputText id="idquestions" value="#{questionsController.selected.idquestions}" title="#{messages.CreateQuestionsTitle_idquestions}" disabled="true" requiredMessage="#{messages.CreateQuestionsRequiredMessage_idquestions}"/>
                        <p:outputLabel value="#{messages.CreateQuestionsLabel_question}" for="question" />
                        <p:inputTextarea rows="4" cols="30" id="question" value="#{questionsController.selected.question}" title="#{messages.CreateQuestionsTitle_question}" />
                        <p:outputLabel value="#{messages.CreateQuestionsLabel_rightAns}" for="rightAns" />
                        <p:inputText id="rightAns" value="#{questionsController.selected.rightAns}" title="#{messages.CreateQuestionsTitle_rightAns}" />
                        <p:outputLabel value="#{messages.CreateQuestionsLabel_wrong1}" for="wrong1" />
                        <p:inputText id="wrong1" value="#{questionsController.selected.wrong1}" title="#{messages.CreateQuestionsTitle_wrong1}" />
                        <p:outputLabel value="#{messages.CreateQuestionsLabel_wrong2}" for="wrong2" />
                        <p:inputText id="wrong2" value="#{questionsController.selected.wrong2}" title="#{messages.CreateQuestionsTitle_wrong2}" />
                        <p:outputLabel value="#{messages.CreateQuestionsLabel_wrong3}" for="wrong3" />
                        <p:inputText id="wrong3" value="#{questionsController.selected.wrong3}" title="#{messages.CreateQuestionsTitle_wrong3}" />
                        <p:outputLabel value="#{messages.CreateQuestionsLabel_idPlace}" for="idPlace" />
                        <p:selectOneMenu id="idPlace" value="#{questionsController.selected.idPlace}" >
                            <f:selectItems value="#{placesController.itemsAvailableSelectOne}"
                                           var="idPlaceItem"
                                           itemValue="#{idPlaceItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{questionsController.create}" value="#{messages.Save}" update="display,:QuestionsListForm:datalist,:growl" oncomplete="handleSubmit(args,'QuestionsCreateDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="QuestionsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
