<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="QuestionsEditDlg" widgetVar="QuestionsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditQuestionsTitle}">
            <h:form id="QuestionsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{questionsController.selected != null}">
                        <p:outputLabel value="#{messages.EditQuestionsLabel_idquestions}" for="idquestions" />
                        <p:inputText id="idquestions" value="#{questionsController.selected.idquestions}" title="#{messages.EditQuestionsTitle_idquestions}"  disabled="true" required="true" requiredMessage="#{messages.EditQuestionsRequiredMessage_idquestions}"/>
                        <p:outputLabel value="#{messages.EditQuestionsLabel_question}" for="question" />
                        <p:inputTextarea rows="4" cols="30" id="question" value="#{questionsController.selected.question}" title="#{messages.EditQuestionsTitle_question}" />
                        <p:outputLabel value="#{messages.EditQuestionsLabel_rightAns}" for="rightAns" />
                        <p:inputText id="rightAns" value="#{questionsController.selected.rightAns}" title="#{messages.EditQuestionsTitle_rightAns}" />
                        <p:outputLabel value="#{messages.EditQuestionsLabel_wrong1}" for="wrong1" />
                        <p:inputText id="wrong1" value="#{questionsController.selected.wrong1}" title="#{messages.EditQuestionsTitle_wrong1}" />
                        <p:outputLabel value="#{messages.EditQuestionsLabel_wrong2}" for="wrong2" />
                        <p:inputText id="wrong2" value="#{questionsController.selected.wrong2}" title="#{messages.EditQuestionsTitle_wrong2}" />
                        <p:outputLabel value="#{messages.EditQuestionsLabel_wrong3}" for="wrong3" />
                        <p:inputText id="wrong3" value="#{questionsController.selected.wrong3}" title="#{messages.EditQuestionsTitle_wrong3}" />
                        <p:outputLabel value="#{messages.EditQuestionsLabel_idPlace}" for="idPlace" />
                        <p:selectOneMenu id="idPlace" value="#{questionsController.selected.idPlace}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{placesController.itemsAvailableSelectOne}"
                                           var="idPlaceItem"
                                           itemValue="#{idPlaceItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{questionsController.update}" value="#{messages.Save}" update="display,:QuestionsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'QuestionsEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="QuestionsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
