<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="QuestionsViewDlg" widgetVar="QuestionsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewQuestionsTitle}">
            <h:form id="QuestionsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{questionsController.selected != null}">
                        <h:outputText value="#{messages.ViewQuestionsLabel_idquestions}"/>
                        <h:outputText value="#{questionsController.selected.idquestions}" title="#{messages.ViewQuestionsTitle_idquestions}"/>
                        <h:outputText value="#{messages.ViewQuestionsLabel_question}"/>
                        <h:outputText value="#{questionsController.selected.question}" title="#{messages.ViewQuestionsTitle_question}"/>
                        <h:outputText value="#{messages.ViewQuestionsLabel_rightAns}"/>
                        <h:outputText value="#{questionsController.selected.rightAns}" title="#{messages.ViewQuestionsTitle_rightAns}"/>
                        <h:outputText value="#{messages.ViewQuestionsLabel_wrong1}"/>
                        <h:outputText value="#{questionsController.selected.wrong1}" title="#{messages.ViewQuestionsTitle_wrong1}"/>
                        <h:outputText value="#{messages.ViewQuestionsLabel_wrong2}"/>
                        <h:outputText value="#{questionsController.selected.wrong2}" title="#{messages.ViewQuestionsTitle_wrong2}"/>
                        <h:outputText value="#{messages.ViewQuestionsLabel_wrong3}"/>
                        <h:outputText value="#{questionsController.selected.wrong3}" title="#{messages.ViewQuestionsTitle_wrong3}"/>
                        <h:outputText value="#{messages.ViewQuestionsLabel_idPlace}"/>
                        <h:outputText value="#{questionsController.selected.idPlace}" title="#{messages.ViewQuestionsTitle_idPlace}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="QuestionsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
