<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoutepointsCreateDlg" widgetVar="RoutepointsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.CreateRoutepointsTitle}">
            <h:form id="RoutepointsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{routepointsController.selected != null}">
                        <p:outputLabel value="#{messages.CreateRoutepointsLabel_idRoutePoints}" for="idRoutePoints" />
                        <p:inputText id="idRoutePoints" value="#{routepointsController.selected.idRoutePoints}" title="#{messages.CreateRoutepointsTitle_idRoutePoints}" disabled="true" requiredMessage="#{messages.CreateRoutepointsRequiredMessage_idRoutePoints}"/>
                        <p:outputLabel value="#{messages.CreateRoutepointsLabel_latitude}" for="latitude" />
                        <p:inputText id="latitude" value="#{routepointsController.selected.latitude}" title="#{messages.CreateRoutepointsTitle_latitude}" />
                        <p:outputLabel value="#{messages.CreateRoutepointsLabel_longtitude}" for="longtitude" />
                        <p:inputText id="longtitude" value="#{routepointsController.selected.longitude}" title="#{messages.CreateRoutepointsTitle_longtitude}" />
                        <p:outputLabel value="#{messages.CreateRoutepointsLabel_idRoute}" for="idRoute" />
                        <p:selectOneMenu id="idRoute" value="#{routepointsController.selected.idRoute}" >
                            <f:selectItems value="#{routesController.itemsAvailableSelectOne}"
                                           var="idRouteItem"
                                           itemValue="#{idRouteItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{routepointsController.create}" value="#{messages.Save}" update="display,:RoutepointsListForm:datalist,:growl" oncomplete="handleSubmit(args,'RoutepointsCreateDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="RoutepointsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
