<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoutepointsEditDlg" widgetVar="RoutepointsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditRoutepointsTitle}">
            <h:form id="RoutepointsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{routepointsController.selected != null}">
                        <p:outputLabel value="#{messages.EditRoutepointsLabel_idRoutePoints}" for="idRoutePoints" />
                        <p:inputText id="idRoutePoints" value="#{routepointsController.selected.idRoutePoints}" title="#{messages.EditRoutepointsTitle_idRoutePoints}" disabled="true"  required="true" requiredMessage="#{messages.EditRoutepointsRequiredMessage_idRoutePoints}"/>
                        <p:outputLabel value="#{messages.EditRoutepointsLabel_latitude}" for="latitude" />
                        <p:inputText id="latitude" value="#{routepointsController.selected.latitude}" title="#{messages.EditRoutepointsTitle_latitude}" />
                        <p:outputLabel value="#{messages.EditRoutepointsLabel_longtitude}" for="longtitude" />
                        <p:inputText id="longtitude" value="#{routepointsController.selected.longitude}" title="#{messages.EditRoutepointsTitle_longtitude}" />
                        <p:outputLabel value="#{messages.EditRoutepointsLabel_idRoute}" for="idRoute" />
                        <p:selectOneMenu id="idRoute" value="#{routepointsController.selected.idRoute}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{routesController.itemsAvailableSelectOne}"
                                           var="idRouteItem"
                                           itemValue="#{idRouteItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{routepointsController.update}" value="#{messages.Save}" update="display,:RoutepointsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RoutepointsEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="RoutepointsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
