<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoutepointsViewDlg" widgetVar="RoutepointsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewRoutepointsTitle}">
            <h:form id="RoutepointsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{routepointsController.selected != null}">
                        <h:outputText value="#{messages.ViewRoutepointsLabel_idRoutePoints}"/>
                        <h:outputText value="#{routepointsController.selected.idRoutePoints}" title="#{messages.ViewRoutepointsTitle_idRoutePoints}"/>
                        <h:outputText value="#{messages.ViewRoutepointsLabel_latitude}"/>
                        <h:outputText value="#{routepointsController.selected.latitude}" title="#{messages.ViewRoutepointsTitle_latitude}"/>
                        <h:outputText value="#{messages.ViewRoutepointsLabel_longtitude}"/>
                        <h:outputText value="#{routepointsController.selected.longitude}" title="#{messages.ViewRoutepointsTitle_longtitude}"/>
                        <h:outputText value="#{messages.ViewRoutepointsLabel_idRoute}"/>
                        <h:outputText value="#{routepointsController.selected.idRoute}" title="#{messages.ViewRoutepointsTitle_idRoute}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="RoutepointsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
