<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
/*******************************************************
* Editiert: Claas Schlonsok
* Version 0.6
********************************************************/-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:basics="http://xmlns.jcp.org/jsf/composite/basics"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:m="http://code.google.com/p/gmaps4jsf/">
    <!--<ui:composition>-->
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="./css/default.css"/>
            <h:outputStylesheet name="./css/cssLayout.css"/>
            <meta charset="utf-8"></meta>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
            <meta name="description" content=""></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1"></meta>      
            <title>#{messages['WanderWIKI']} - #{messages['Wandern']} </title>

            <ui:insert name="imheader">
            </ui:insert>


        </h:head>
        <f:loadBundle id="languageBase" basename="#{internationalButton.value}" var="messages"/>

        <h:body rendered="#{loginBean.pruefe_zugriffsrechte()}" onload="#{loginBean.pruefe_zugriffsrechte()}">
            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
            <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                <h:graphicImage library="Images" value="/resources/Images/ajax-loader.gif" />
            </p:dialog> 
            
            <p:growl id="growl" life="3000" />
            <!--<ui:include src="basics/registration.xhtml"/>-->
            <ui:insert name="regi">
                <ui:include src="/resources/basics/registration.xhtml"/>
            </ui:insert>


            <!--<ui:include src="basics/passwordNew.xhtml"/>-->
            <ui:insert name="passwordNew">
                <ui:include src="/resources/basics/passwordNew.xhtml"/>
            </ui:insert>   

            <!--<ui:include src="basics/myAccount.xhtml"/>-->

            <ui:insert name="myAccount">
                <ui:include src="/resources/basics/myAccount.xhtml"/>
            </ui:insert>
            <div id="top">
               
                <ui:insert name="top">
                <p:panel style="border-color: transparent;">
                    <p:panel style="border-color: transparent;">
                    <table border="0" width = "100%">
                        
                        <tr>
                            <td>
                                <ui:insert name="title">
                                    <ui:include src="/resources/basics/titleHeader.xhtml"/>
                                </ui:insert>                 
                            </td>
                            <td>
                                <!--<ui:include src="basics/menubarHeader.xhtml"/>-->
                                <!--<ui:insert name="regHeader"/>-->
                            </td>

                            <td align="right">

                                <ui:insert name="log">
                                    <ui:include src="#{loginBean.site}"/>
                                </ui:insert>
                            </td>
                        </tr>
                        
                    </table>
                    </p:panel>
                    <div align="center">
                        <ui:insert name="menubar">
                            <!--<ui:include src="/resources/basics/menubarHeader.xhtml"/>-->
                            <ui:include src="#{loginBean.gibMenu()}" />
                        </ui:insert>   
                    </div>
                    </p:panel>
                </ui:insert>
            </div>


            <!--<div>-->
<!--            <div id="left" class="left_area">
                <ui:insert name="left"></ui:insert>

            </div>-->


            <div id="content" class="content">
                <p:scrollPanel  mode="native" style="width:auto; height: 615px;">
                    <p:panel>
                    <ui:insert name="content">Content</ui:insert>
                    </p:panel>
                </p:scrollPanel>
            </div>

<!--            <div id="right" class="right_area">
                right
                <ui:insert name="right"></ui:insert>
            </div>-->
            <!--</div>-->


            <div id="bottom" align="center">
                <!--Hier ist der FOOTER eventuell dynamisch erzeugen lassen-->
                <ui:include src="/resources/basics/footer.xhtml"></ui:include>  
                <!--<p:outputLabel value="#{loginBean.pruefe_zugriffsrechte()}" />-->
                <!--hier wird nur der notwendige wert ausgegeben-->
            </div>

        </h:body>
    <!--</ui:composition>-->
</html>
