<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/template.xhtml">

        <ui:define name="imheader">
          
            <!--<h:outputStylesheet name="./css/jsfcrud.css" />-->
            <h:outputScript name="./css/jsfcrud.js"  target="head" />

        </ui:define>
        

        <ui:define name="content">
            <h:form id="PlacesListForm">
                <p:panel >
                    <p:dataTable id="datalist" value="#{placesController.items}" var="item"
                                 selectionMode="single" selection="#{placesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idPlaces}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_idPlaces}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPlaces}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_altitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.altitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_dateAdded}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateAdded}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_idChanging}"/>
                            </f:facet>
                            <h:outputText value="#{item.idChanging}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_isChange}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.isChange}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_isProposal}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.isProposal}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_latitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.latitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_longtitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.longitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_openTimes}"/>
                            </f:facet>
                            <h:outputText value="#{item.openTimes}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_postalCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.postalCode}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_size}"/>
                            </f:facet>
                            <h:outputText value="#{item.size}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_street}"/>
                            </f:facet>
                            <h:outputText value="#{item.street}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListPlacesTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{messages.Create}" actionListener="#{placesController.prepareCreate}" update=":PlacesCreateForm" oncomplete="PF('PlacesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{messages.View}" update=":PlacesViewForm" oncomplete="PF('PlacesViewDialog').show()" disabled="#{empty placesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{messages.Edit}" update=":PlacesEditForm" oncomplete="PF('PlacesEditDialog').show()" disabled="#{empty placesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{messages.Delete}" actionListener="#{placesController.destroy}" update=":growl,datalist" disabled="#{empty placesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
