<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PlacesViewDlg" widgetVar="PlacesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewPlacesTitle}">
            <h:form id="PlacesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{placesController.selected != null}">
                        <h:outputText value="#{messages.ViewPlacesLabel_idPlaces}"/>
                        <h:outputText value="#{placesController.selected.idPlaces}" title="#{messages.ViewPlacesTitle_idPlaces}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_altitude}"/>
                        <h:outputText value="#{placesController.selected.altitude}" title="#{messages.ViewPlacesTitle_altitude}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_city}"/>
                        <h:outputText value="#{placesController.selected.city}" title="#{messages.ViewPlacesTitle_city}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_dateAdded}"/>
                        <h:outputText value="#{placesController.selected.dateAdded}" title="#{messages.ViewPlacesTitle_dateAdded}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{messages.ViewPlacesLabel_idChanging}"/>
                        <h:outputText value="#{placesController.selected.idChanging}" title="#{messages.ViewPlacesTitle_idChanging}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_isChange}"/>
                        <p:selectBooleanCheckbox value="#{placesController.selected.isChange}" disabled="true"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_isProposal}"/>
                        <p:selectBooleanCheckbox value="#{placesController.selected.isProposal}" disabled="true"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_latitude}"/>
                        <h:outputText value="#{placesController.selected.latitude}" title="#{messages.ViewPlacesTitle_latitude}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_longtitude}"/>
                        <h:outputText value="#{placesController.selected.longitude}" title="#{messages.ViewPlacesTitle_longtitude}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_name}"/>
                        <h:outputText value="#{placesController.selected.name}" title="#{messages.ViewPlacesTitle_name}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_openTimes}"/>
                        <h:outputText value="#{placesController.selected.openTimes}" title="#{messages.ViewPlacesTitle_openTimes}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_postalCode}"/>
                        <h:outputText value="#{placesController.selected.postalCode}" title="#{messages.ViewPlacesTitle_postalCode}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_size}"/>
                        <h:outputText value="#{placesController.selected.size}" title="#{messages.ViewPlacesTitle_size}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_street}"/>
                        <h:outputText value="#{placesController.selected.street}" title="#{messages.ViewPlacesTitle_street}"/>
                        <h:outputText value="#{messages.ViewPlacesLabel_type}"/>
                        <h:outputText value="#{placesController.selected.type}" title="#{messages.ViewPlacesTitle_type}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="PlacesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
