<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SearchesCreateDlg" widgetVar="SearchesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.CreateSearchesTitle}">
            <h:form id="SearchesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{searchesController.selected != null}">
                        <p:outputLabel value="#{messages.CreateSearchesLabel_idSearches}" for="idSearches" />
                        <p:inputText id="idSearches" value="#{searchesController.selected.idSearches}" title="#{messages.CreateSearchesTitle_idSearches}" disabled="true" requiredMessage="#{messages.CreateSearchesRequiredMessage_idSearches}"/>
                        <p:outputLabel value="#{messages.CreateSearchesLabel_query}" for="query" />
                        <p:inputTextarea rows="4" cols="30" id="query" value="#{searchesController.selected.query}" title="#{messages.CreateSearchesTitle_query}" />
                        <p:outputLabel value="#{messages.CreateSearchesLabel_idUser}" for="idUser" />
                        <p:selectOneMenu id="idUser" value="#{searchesController.selected.idUser}" >
                            <f:selectItems value="#{usersController.itemsAvailableSelectOne}"
                                           var="idUserItem"
                                           itemValue="#{idUserItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{searchesController.create}" value="#{messages.Save}" update="display,:SearchesListForm:datalist,:growl" oncomplete="handleSubmit(args,'SearchesCreateDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="SearchesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
