<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SearchesViewDlg" widgetVar="SearchesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewSearchesTitle}">
            <h:form id="SearchesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{searchesController.selected != null}">
                        <h:outputText value="#{messages.ViewSearchesLabel_idSearches}"/>
                        <h:outputText value="#{searchesController.selected.idSearches}" title="#{messages.ViewSearchesTitle_idSearches}"/>
                        <h:outputText value="#{messages.ViewSearchesLabel_query}"/>
                        <h:outputText value="#{searchesController.selected.query}" title="#{messages.ViewSearchesTitle_query}"/>
                        <h:outputText value="#{messages.ViewSearchesLabel_idUser}"/>
                        <h:outputText value="#{searchesController.selected.idUser}" title="#{messages.ViewSearchesTitle_idUser}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="SearchesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
