<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommentsEditDlg" widgetVar="CommentsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.EditCommentsTitle}">
            <h:form id="CommentsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{commentsController.selected != null}">
                        <p:outputLabel value="#{messages.EditCommentsLabel_idComments}" for="idComments" />
                        <p:inputText id="idComments" value="#{commentsController.selected.idComments}" title="#{messages.EditCommentsTitle_idComments}" disabled="true" required="true" requiredMessage="#{messages.EditCommentsRequiredMessage_idComments}"/>
                        <p:outputLabel value="#{messages.EditCommentsLabel_text}" for="text" />
                        <p:inputTextarea rows="4" cols="30" id="text" value="#{commentsController.selected.text}" title="#{messages.EditCommentsTitle_text}" />
                        <p:outputLabel value="#{messages.EditCommentsLabel_time}" for="time" />
                        <p:calendar id="time" pattern="MM/dd/yyyy HH:mm:ss" value="#{commentsController.selected.time}" title="#{messages.EditCommentsTitle_time}"  showOn="button"/>
                        <p:outputLabel value="#{messages.EditCommentsLabel_idPlace}" for="idPlace" />
                        <p:selectOneMenu id="idPlace" value="#{commentsController.selected.idPlace}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{placesController.itemsAvailableSelectOne}"
                                           var="idPlaceItem"
                                           itemValue="#{idPlaceItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.EditCommentsLabel_idRoute}" for="idRoute" />
                        <p:selectOneMenu id="idRoute" value="#{commentsController.selected.idRoute}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{routesController.itemsAvailableSelectOne}"
                                           var="idRouteItem"
                                           itemValue="#{idRouteItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.EditCommentsLabel_idUser}" for="idUser" />
                        <p:selectOneMenu id="idUser" value="#{commentsController.selected.idUser}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{usersController.itemsAvailableSelectOne}"
                                           var="idUserItem"
                                           itemValue="#{idUserItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{commentsController.update}" value="#{messages.Save}" update="display,:CommentsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CommentsEditDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="CommentsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
