<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/resources/template.xhtml">

        <ui:define name="imheader">
          
            <!--<h:outputStylesheet name="./css/jsfcrud.css" />-->
            <h:outputScript name="./css/jsfcrud.js"  target="head" />

        </ui:define>

        <ui:define name="content">
            <h:form id="CommentsListForm">
                <p:panel >
                    <p:dataTable id="datalist" value="#{commentsController.items}" var="item"
                                 selectionMode="single" selection="#{commentsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idComments}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListCommentsTitle_idComments}"/>
                            </f:facet>
                            <h:outputText value="#{item.idComments}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListCommentsTitle_text}"/>
                            </f:facet>
                            <h:outputText value="#{item.text}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListCommentsTitle_time}"/>
                            </f:facet>
                            <h:outputText value="#{item.time}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListCommentsTitle_idPlace}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPlace}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListCommentsTitle_idRoute}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRoute}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListCommentsTitle_idUser}"/>
                            </f:facet>
                            <h:outputText value="#{item.idUser}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{messages.Create}" actionListener="#{commentsController.prepareCreate}" update=":CommentsCreateForm" oncomplete="PF('CommentsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{messages.View}" update=":CommentsViewForm" oncomplete="PF('CommentsViewDialog').show()" disabled="#{empty commentsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{messages.Edit}" update=":CommentsEditForm" oncomplete="PF('CommentsEditDialog').show()" disabled="#{empty commentsController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{messages.Delete}" actionListener="#{commentsController.destroy}" update=":growl,datalist" disabled="#{empty commentsController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
