<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommentsViewDlg" widgetVar="CommentsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewCommentsTitle}">
            <h:form id="CommentsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{commentsController.selected != null}">
                        <h:outputText value="#{messages.ViewCommentsLabel_idComments}"/>
                        <h:outputText value="#{commentsController.selected.idComments}" title="#{messages.ViewCommentsTitle_idComments}"/>
                        <h:outputText value="#{messages.ViewCommentsLabel_text}"/>
                        <h:outputText value="#{commentsController.selected.text}" title="#{messages.ViewCommentsTitle_text}"/>
                        <h:outputText value="#{messages.ViewCommentsLabel_time}"/>
                        <h:outputText value="#{commentsController.selected.time}" title="#{messages.ViewCommentsTitle_time}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{messages.ViewCommentsLabel_idPlace}"/>
                        <h:outputText value="#{commentsController.selected.idPlace}" title="#{messages.ViewCommentsTitle_idPlace}"/>
                        <h:outputText value="#{messages.ViewCommentsLabel_idRoute}"/>
                        <h:outputText value="#{commentsController.selected.idRoute}" title="#{messages.ViewCommentsTitle_idRoute}"/>
                        <h:outputText value="#{messages.ViewCommentsLabel_idUser}"/>
                        <h:outputText value="#{commentsController.selected.idUser}" title="#{messages.ViewCommentsTitle_idUser}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="CommentsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
