<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DescriptionsCreateDlg" widgetVar="DescriptionsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.CreateDescriptionsTitle}">
            <h:form id="DescriptionsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{descriptionsController.selected != null}">
                        <p:outputLabel value="#{messages.CreateDescriptionsLabel_idDescriptions}" for="idDescriptions" />
                        <p:inputText id="idDescriptions" value="#{descriptionsController.selected.idDescriptions}" title="#{messages.CreateDescriptionsTitle_idDescriptions}" disabled="true" required="false" requiredMessage="#{messages.CreateDescriptionsRequiredMessage_idDescriptions}"/>
                        <p:outputLabel value="#{messages.CreateDescriptionsLabel_interest}" for="interest" />
                        <p:inputText id="interest" value="#{descriptionsController.selected.interest}" title="#{messages.CreateDescriptionsTitle_interest}" />
                        <p:outputLabel value="#{messages.CreateDescriptionsLabel_language}" for="language" />
                        <p:inputText id="language" value="#{descriptionsController.selected.language}" title="#{messages.CreateDescriptionsTitle_language}" />
                        <p:outputLabel value="#{messages.CreateDescriptionsLabel_text}" for="text" />
                        <p:inputTextarea rows="4" cols="30" id="text" value="#{descriptionsController.selected.text}" title="#{messages.CreateDescriptionsTitle_text}" />
                        <p:outputLabel value="#{messages.CreateDescriptionsLabel_idPlace}" for="idPlace" />
                        <p:selectOneMenu id="idPlace" value="#{descriptionsController.selected.idPlace}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{placesController.itemsAvailableSelectOne}"
                                           var="idPlaceItem"
                                           itemValue="#{idPlaceItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages.CreateDescriptionsLabel_idRoute}" for="idRoute" />
                        <p:selectOneMenu id="idRoute" value="#{descriptionsController.selected.idRoute}" >
                            <f:selectItem itemLabel="#{messages.SelectOneMessage}"/>
                            <f:selectItems value="#{routesController.itemsAvailableSelectOne}"
                                           var="idRouteItem"
                                           itemValue="#{idRouteItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{descriptionsController.create}" value="#{messages.Save}" update="display,:DescriptionsListForm:datalist,:growl" oncomplete="handleSubmit(args,'DescriptionsCreateDialog');"/>
                    <p:commandButton value="#{messages.Cancel}" onclick="DescriptionsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
