<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DescriptionsViewDlg" widgetVar="DescriptionsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{messages.ViewDescriptionsTitle}">
            <h:form id="DescriptionsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{descriptionsController.selected != null}">
                        <h:outputText value="#{messages.ViewDescriptionsLabel_idDescriptions}"/>
                        <h:outputText value="#{descriptionsController.selected.idDescriptions}" title="#{messages.ViewDescriptionsTitle_idDescriptions}"/>
                        <h:outputText value="#{messages.ViewDescriptionsLabel_interest}"/>
                        <h:outputText value="#{descriptionsController.selected.interest}" title="#{messages.ViewDescriptionsTitle_interest}"/>
                        <h:outputText value="#{messages.ViewDescriptionsLabel_language}"/>
                        <h:outputText value="#{descriptionsController.selected.language}" title="#{messages.ViewDescriptionsTitle_language}"/>
                        <h:outputText value="#{messages.ViewDescriptionsLabel_text}"/>
                        <h:outputText value="#{descriptionsController.selected.text}" title="#{messages.ViewDescriptionsTitle_text}"/>
                        <h:outputText value="#{messages.ViewDescriptionsLabel_idPlace}"/>
                        <h:outputText value="#{descriptionsController.selected.idPlace}" title="#{messages.ViewDescriptionsTitle_idPlace}"/>
                        <h:outputText value="#{messages.ViewDescriptionsLabel_idRoute}"/>
                        <h:outputText value="#{descriptionsController.selected.idRoute}" title="#{messages.ViewDescriptionsTitle_idRoute}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{messages.Close}" onclick="DescriptionsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
