<?xml version="1.0" encoding="UTF-8"?>
<!--
/*******************************************************
* WanderApp
* erstellt am 08.03.2015
* Index für den Userbereich
* Verantwortlich: Claas Schlonsok
* Version 0.1
********************************************************/
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>Userbereich</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="/resources/template.xhtml">
            <ui:define name="content">                
                <div align="center">
                    <h2>#{messages.users_willkommen}</h2>
                    <br/>
                    #{messages.users_willkommen_text}
                    
                </div>
            </ui:define>
                        
        </ui:composition>
    </body>
</html>
